<template>
  <div class="q-pa-md">
    <div class="row justify-center">

      <div class="col-xs-12 col-md-2 col-sm-3 q-mr-md ">
        <q-btn v-if="verificaPermiso(15)" color="green" @click="generarReporte" icon="arrow_downward" label="Exportar Datos" />
      </div>

      <div class="col-xs-12 col-md-3 col-sm-3 q-mr-md ">
      <q-btn-toggle
        v-if="verificaPermiso(16)"
        v-model="tipo_producto"
        class="my-custom-toggle"
        no-caps
        rounded
        @input="cargaPesajes()"
        unelevated
        toggle-color="primary"
        color="white"
        text-color="primary"
        :options="[
          {label: 'Producto Terminado', value: 'producto_terminado'},
          {label: 'Trigo', value: 'trigo'},
          {label: 'Todos', value: ''}
        ]"
      />
      </div>

      <div class="col-xs-12 col-md-1 col-sm-3 q-mr-md ">
        <q-input dense v-model="date"  label="Fecha desde" readonly @change="cargaPesajes">
          <template v-slot:append>
            <q-icon name="event" class="cursor-pointer">
              <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                <q-date v-model="date" mask="YYYY-MM-DD" @input="() => $refs.qDateProxy.hide()" />
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
      </div>

      <div class="col-xs-12 col-md-1 col-sm-3">
        <q-input dense v-model="date2"  label="Fecha hasta" readonly >
          <template v-slot:append>
            <q-icon name="event" class="cursor-pointer">
              <q-popup-proxy ref="qDateProxy2" transition-show="scale" transition-hide="scale">
                <q-date v-model="date2" mask="YYYY-MM-DD" @input="() => $refs.qDateProxy2.hide()" />
              </q-popup-proxy>
            </q-icon>
          </template>
        </q-input>
      </div>
      </div>

    <div class="row justify-center">
    <div class="col-xs-12 col-md-12 col-sm-12">
    <div class="q-pa-lg">
      <q-table
        title="Informe de Pesajes"
        :data="pesajes"
        :columns="columns"
        row-key="num_dcto"
        class="my-sticky-header-table"
        :filter="filter"
        :pagination.sync="pagination"
        separator = 'vertical'
        dense
      >

        <template v-slot:top-right>
          <q-input  dense debounce="300" v-model="filter" placeholder="Busqueda de vehículos">
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </template>

      <template v-slot:body="props">
        <q-tr :props="props">

          <q-td key="num_dcto" :props="props" >
            {{ props.row.num_dcto }}
          </q-td>

          <q-td key="fecha_trans_1" :props="props">
            {{ props.row.fecha_trans_1 }}
          </q-td>

          <q-td key="tipo" :props="props">
            {{ props.row.tipo_label }}
          </q-td>

          <q-td key="placa" :props="props">
            <q-chip square>
              <q-avatar icon="bookmark" color="primary" text-color="white" />
              {{ props.row.placa }}
            </q-chip>
          </q-td>

          <q-td key="nom_emp" :props="props">
            {{ props.row.nom_emp }}
          </q-td>

          <q-td key="peso_origen" :props="props">
            {{ formatPrice(props.row.peso_origen) }}
          </q-td>

          <q-td key="peso_inicial" :props="props">
            {{ formatPrice(props.row.peso_inicial) }}
          </q-td>

          <q-td key="hora_trans_1" :props="props">
            {{ props.row.hora_trans_1 }}
          </q-td>

          <q-td key="peso_final" :props="props">
            {{ formatPrice(props.row.peso_final) }}
          </q-td>

          <q-td key="hora_trans_2" :props="props" v-if="props.row.hora_trans_2 == props.row.hora_trans_1">
          </q-td>

          <q-td key="hora_trans_2" :props="props" v-else>
            {{ props.row.hora_trans_2 }}
          </q-td>

          <q-td key="peso_neto" :props="props">
            {{ formatPrice(props.row.peso_neto) }}
          </q-td>

          <q-td key="facturar_kilos" :props="props">
            <q-badge v-if="props.row.facturar_kilos > 0" color="red">
              {{ props.row.facturar_kilos }}
            </q-badge>
            <div v-else>
              {{ props.row.facturar_kilos }}
            </div>
          </q-td>

          <q-td key="total" :props="props">
            {{ formatPrice(props.row.total) }}
          </q-td>

          <q-td key="peso_bruto_erp" :props="props">
            {{ props.row.peso_bruto_erp }}
          </q-td>

          <q-td key="kilos_dif" :props="props">
            {{ props.row.kilos_dif }}
          </q-td>

          <q-td key="nivel_acep" :props="props">
            {{ props.row.nivel_acep }}
          </q-td>

          <q-td key="peso_aceptable" :props="props">
            {{ props.row.peso_aceptable }}
          </q-td>

          <q-td key="peso_precaucion" :props="props">
            {{ props.row.peso_precaucion }}
          </q-td>

          <q-td key="usuario" :props="props">
            {{ props.row.name }}
          </q-td>

          <q-td key="imprimir" :props="props">
            <q-btn v-if="verificaPermiso(17)" round color="primary" icon="local_printshop" @click="imprimirRecibo(props.row.id_pesaje, 'reimprimir')" />
          </q-td>

        </q-tr>
      </template>
      </q-table>
    </div>
    </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { mapActions } from 'vuex'
export default {
  props: {
    datos_editar: {
      type: Array,
      required: false
    }
  },
  data () {
    return {
      pagination: {
        rowsPerPage: 30 // current rows per page being displayed
      },
      vehiculos: [],
      date: '',
      date2: '',
      pesaje_final: false,
      tipo_producto: '',
      filter: '',
      pesajes: [],
      placa: '',
      accept: false,
      dense: true,
      columns: [
        { name: 'num_dcto', align: 'center', label: '# Documento', field: 'num_dcto', sortable: true, style: 'width: 5px' },
        { name: 'fecha_trans_1', align: 'center', label: 'Fecha', field: 'fecha_trans_1', sortable: true, style: 'width: 20px' },
        {
          name: 'tipo',
          required: true,
          label: 'Tipo pesaje',
          align: 'center',
          field: row => row.tipo,
          format: val => `${val}`,
          sortable: true
        },
        { name: 'placa', align: 'center', label: 'No. Placa', field: 'placa', sortable: true },
        { name: 'nom_emp', align: 'center', label: 'Empresa', field: 'nom_emp', sortable: true },
        { name: 'peso_origen', label: 'Peso Origen (kg)', field: 'peso_origen', sortable: true },
        { name: 'peso_inicial', label: 'Peso Inicial (kg)', field: 'peso_inicial' },
        { name: 'hora_trans_1', label: 'Hora Inicio', field: 'hora_trans_1', align: 'center' },
        { name: 'peso_final', label: 'Peso Final (kg)', field: 'peso_final' },
        { name: 'hora_trans_2', label: 'Hora Final', field: 'hora_trans_2', align: 'center' },
        { name: 'peso_neto', label: 'Peso Neto (kg)', field: 'peso_neto' },
        { name: 'facturar_kilos', label: '(kg) Facturar', field: 'facturar_kilos' },
        { name: 'total', label: '$ Total', field: 'total', align: 'center' },
        { name: 'peso_bruto_erp', label: 'Peso bruto', field: 'peso_bruto_erp', align: 'center' },
        { name: 'kilos_dif', label: 'Dif. Kilos', field: 'kilos_dif', align: 'center' },
        { name: 'nivel_acep', label: 'Nivel acept.', field: 'nivel_acep', align: 'center' },
        { name: 'peso_aceptable', label: 'Peso acept.', field: 'peso_aceptable', align: 'center' },
        { name: 'peso_precaucion', label: 'Peso precaución', field: 'peso_precaucion', align: 'center' },
        { name: 'usuario', label: 'Usuario', field: 'usuario', align: 'center' },
        { name: 'imprimir', label: 'Imprimir', field: 'imprimir', align: 'center' }
      ]
    }
  },
  computed: {
    fechaActual () {
      let date = new Date()
      let day = date.getDate()
      let month = date.getMonth() + 1
      let year = date.getFullYear()

      if (month < 10) {
        // return `${day}-0${month}-${year}`
        return `${year}-0${month}-${day}`
      } else {
        // return `${day}-0${month}-${year}`
        return `${year}-${month}-${day}`
      }
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    },
    url_api () {
      return this.$store.state.store.url_api
    }
  },
  methods: {
    cargaPesajes () {
      axios.get(this.url_api + '/api/pesaje/informe-pesajes/', {
        params: {
          fecha_inicial: this.date,
          fecha_final: this.date2,
          tipo_producto: this.tipo_producto
        } }).then((response) => {
        this.pesajes = response.data
      })
    },
    exportarDatos () {
      axios.get(this.url_api + '/api/pesaje/descargar-pesajes/').then((response) => {
        // this.pesajes = response.data
      })
    },
    showLoading () {
      this.$q.loading.show({
        message: this.configura_modulo.loader
      })
    },
    showLoadingPeso () {
      this.$q.loading.show({
        message: this.configura_modulo.loader_peso
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    generarReporte () {
      window.location.href = this.url_api + '/api/pesaje/descargar-pesajes/' + this.date + '/' + this.date2 + '/' + this.tipo_producto
    },
    imprimirRecibo (id, imp) {
      window.location.href = this.url_api + '/api/pesaje/generar-factura/' + id + '/' + imp
    },
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    },
    formatPrice (value) {
      let val = (value / 1).toFixed(0).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
    ...mapActions('store', ['vehiculoIngresado', 'obtenerPermisos'])
  },
  mounted () {
    this.date = this.fechaActual
    this.date2 = this.fechaActual
    this.cargaPesajes()
  },
  watch: {
    date (val) {
      this.cargaPesajes()
    },
    date2 (val) {
      this.cargaPesajes()
    }
  }
}
</script>

<style lang="sass">
.my-sticky-header-table
  /* max height is important */
  .q-table__middle
    max-height: 400px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: #FDF9EA

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
.my-custom-toggle
  border: 1px solid #225A3F
</style>
