<template>
  <div class="q-pa-lg">
      <div class="col-xs-12 col-sm-12 col-md-8">
    <q-card class="my-card">
      <q-card-section style="background-color:#FDF9EA">
        <div class="text-h6 text-primary">{{configura_modulo.nombre}}</div>
        <div class="text-subtitle2 text-primary">{{configura_modulo.resumen}}</div>
      </q-card-section>

      <q-separator />

        <div class="q-pa-md" >

          <q-form
            @submit.prevent="onSubmit"
            @reset="onReset"
            class="q-gutter-md"
            ref="form_vehiculo"
          >

            <div class="row ">
              <div class="col-xs-12 col-sm-6 col-md-6">
                Tipo de pesaje
                <q-radio v-if="verificaPermiso(30)" v-model="tipo" val="producto_terminado" label="Producto terminado" :disable="deshabilitar" />
                <q-radio v-if="verificaPermiso(12)" v-model="tipo" val="trigo" label="Trigo" :disable="deshabilitar" />
              </div>
              <q-space />
              <div class="col-auto">
                <q-btn
                  rounded
                  color="light-blue"
                  size="xl"
                  :label="peso_bascula"
                  v-model="peso_bascula"
                />
                <q-chip color="primary" text-color="white" icon="">
                  KG
                </q-chip>
              </div>
              <div class="col-auto"></div>
            </div>

            <div class="row ">
              <div class="col-xs-12 col-sm-6 col-md-3 q-mr-xs" >
                <q-select
                  v-model="placa"
                  use-input
                  input-debounce="0"
                  label="Buscar Placa"
                  @filter="filterFnPlaca"
                  style="width: 250px"
                  behavior="dialog"
                  :dense="dense"
                  :options="opciones_vehiculos"
                  emit-value
                  map-options
                  option-value="placa"
                  option-label="placa"
                  :rules="[validaPlaca]"
                  :disable="deshabilitar"
                  @input="obtenerInfocargue(placa)"
                >
                  <template v-slot:no-option>
                    <q-item>
                      <q-item-section class="text-grey">
                        No se encontró la placa consultada
                      </q-item-section>
                    </q-item>
                  </template>
                </q-select>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-3">
                <q-select v-show="tipo=='trigo'" readonly  :disable="deshabilitar" :rules="[validaEmpresa]"  style="width: 520px"  emit-value map-options option-value="nit" option-label="nombre"  bottom-slots  v-model="empresa" :options="empresas" label="Buscar empresa"  :dense="dense">
                  <!-- <template v-slot:append>
                    <q-btn round dense flat icon="add" color="primary" @click.stop="modal_reg_emp = true" />
                  </template> -->
                </q-select>
              </div>
              <div class="col-auto"></div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6 q-mr-md" v-show="tipo=='trigo'">
                <b>Conductor : </b>{{nombre_conductor}}
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-2 q-mr-md" v-show="tipo=='trigo'">
                <q-input
                  outlined
                  class="text-bold"
                  v-model="peso_origen"
                  label="Peso Origen (kg)"
                  stack-label
                  :dense="dense"
                  :rules="[validaPesoOrigen]"
                  readonly
                />
              </div>

              <div class="col-xs-12 col-sm-6 col-md-2 q-mr-md">
                <q-input
                  outlined
                  v-model="peso_inicial"
                  label="Peso Inicial (kg)"
                  stack-label
                  :dense="dense"
                  :rules="[validaPeso]"
                  readonly
                />
              </div>
              <div class="col-xs-12 col-sm-6 col-md-2 q-mr-md">
                <q-input
                  outlined
                  v-model="peso_final"
                  label="Peso Final (kg)"
                  stack-label
                  :dense="dense"
                  :rules="[validaPesoFinal]"
                  readonly
                />
              </div>
              <div class="col-xs-12 col-sm-6 col-md-2">
                <q-input
                  outlined
                  v-model="peso_neto"
                  label="Peso Neto (kg)"
                  stack-label
                  :dense="dense"
                  :rules="[validaDescripcion]"
                  readonly
                />
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-7">
                <q-input
                  outlined
                  v-model="observaciones"
                  label="Observaciones"
                  stack-label
                  :dense="dense"
                  :rules="[validaDescripcion]"
                />
              </div>
            </div>

            <div class="row">
              <q-btn icon="archive" label="Obtener Peso"  glossy color="blue" @click="obtenerPesoBascula" />
              <q-btn v-if="verificaPermiso(14)" :label="configura_modulo.btn_accion"  type="submit" color="primary"  glossy icon="library_add" class="q-ml-sm"/>
              <q-space/>
              <q-btn round  icon="clear_all" @click="onReset" color="yellow-10">
                <q-tooltip anchor="top middle" self="bottom middle" :offset="[10, 10]">
                  <strong>Limpiar Formulario</strong>
                </q-tooltip>
              </q-btn>
            </div>
            <div v-show="facturar<=0 && tipo=='trigo'">
             Faltante : {{faltante}}    Merma : {{merma_permitida}}     Peso Orig Merma : {{peso_origen_merma}}    A facturar : {{redondeo(facturar,0)}}
            </div>
            <div v-show="tipo=='producto_terminado'">
              <b>Peso bruto ofima : </b>{{peso_facturado}} <b>Kilos diferencia : </b>{{diferencia}} <b>Nivel Acep : </b> {{nivel_aceptacion}} <b>Peso aceptable : </b>{{peso_aceptable}} <b>Peso precausión : </b>{{peso_precausion}}
            </div>
          </q-form>

        </div>

    </q-card>
    </div>

    <div class="q-pa-md">
      <q-table
        title="Vehículos pendientes por pesaje final"
        :data="pesajes_pendientes"
        :columns="columns"
        row-key="transaccion"
        class="my-sticky-header-table"
        :filter="filter"
      >

        <template v-slot:top-right>
          <q-input  dense debounce="300" v-model="filter" placeholder="Busqueda de vehículos">
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </template>

      <template v-slot:body="props">
        <q-tr :props="props">

          <q-td key="fecha" :props="props">
            {{ props.row.fecha }}
          </q-td>

          <q-td key="tipo" :props="props">
            {{ props.row.tipo_label }}
          </q-td>

          <q-td key="placa" :props="props">
            {{ props.row.placa }}
          </q-td>

          <q-td key="nom_emp" :props="props">
            {{ props.row.nom_emp }}
          </q-td>

          <q-td key="peso_origen" :props="props">
            {{ props.row.peso_origen }}
          </q-td>

          <q-td key="peso_inicial" :props="props">
            {{ props.row.peso_inicial }}
          </q-td>

          <q-td key="peso_final" :props="props">
            {{ props.row.peso_final }}
          </q-td>

          <q-td key="peso_neto" :props="props">
            {{ props.row.peso_neto }}
          </q-td>

          <q-td key="acciones" :props="props">

              <q-btn v-if="verificaPermiso(29)"  label="Pesaje Final" outline color="primary" @click="obtenerDatos(props.row)" />

          </q-td>

        </q-tr>
      </template>
      </q-table>
    </div>
    <q-dialog v-model="modal_reg_emp" persistent>
      <q-card  style="width: 700px; max-width: 80vw;">
        <q-card-section>
          <empresas-registro/>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-dialog v-model="modal_alerta_pesaje">
      <q-card>
        <q-card-section class="row items-center q-pb-none">
          <div class="text-h5 text-red">Alerta</div>
          <q-space />
          <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>

        <q-card-section class="text-h6">
          Se debe verificar el cargue que contiene el vehículo de placa No. <b>{{placa}}</b>
        </q-card-section>
      </q-card>
    </q-dialog>

  </div>
</template>

<script>
import axios from 'axios'
import { mapActions } from 'vuex'
export default {
  props: {
    datos_editar: {
      type: Array,
      required: false
    }
  },
  data () {
    return {
      id_cargue: '',
      modal_reg_emp: false,
      empresa: '',
      options: [
        'Google', 'Facebook', 'Twitter', 'Apple', 'Oracle'
      ],
      infoCargue: [],
      denseOpts: false,
      deshabilitar: false,
      vehiculos: [],
      opciones_vehiculos: [],
      empresas: [],
      opciones_empresas: [],
      pesaje_final: false,
      filter: '',
      pesajes_pendientes: [],
      tipo: 'producto_terminado',
      peso_bascula: 0,
      peso_inicial: 0,
      peso_final: 0,
      peso_neto: 0,
      peso_origen: 0,
      faltante: 0,
      merma_permitida: 0,
      peso_origen_merma: 0,
      facturar: 0,
      observaciones: '',
      id_veh: '',
      id_pesaje: '',
      placa: '',
      accept: false,
      dense: true,
      peso_facturado: 0,
      diferencia: 0,
      nivel_aceptacion: 0,
      peso_aceptable: 0,
      peso_precausion: 0,
      modal_alerta_pesaje: false,
      configura_modulo: {
        nombre: 'PESAJE BÁSCULA',
        resumen: 'Registro de pesaje de vehículos',
        confirmacion: '¿Está seguro de registrar el pesaje?',
        confirmacion_exito: 'Pesaje registrado exitosamente',
        error: 'Error al registrar el pesaje',
        loader: 'Guardando información<br/>Por favor espere...',
        loader_peso: 'Obteniendo peso de la báscula<br/>Si lleva más de 10 segundos, posiblemente se desconectó el trasmisor de datos',
        btn_accion: 'Guardar Información'
      },
      nombre_conductor: '',
      columns: [
        // { name: 'transaccion', align: 'center', label: 'No. Transacción', field: 'transaccion', sortable: true, style: 'width: 5px' },
        { name: 'fecha', align: 'center', label: 'Fecha / Hora', field: 'fecha', sortable: true, style: 'width: 20px' },
        {
          name: 'tipo',
          required: true,
          label: 'Tipo pesaje',
          align: 'center',
          field: row => row.tipo,
          format: val => `${val}`,
          sortable: true
        },
        { name: 'placa', align: 'center', label: 'No. Placa', field: 'placa', sortable: true },
        { name: 'nom_emp', align: 'left', label: 'Empresa', field: 'nom_emp', sortable: true },
        { name: 'peso_origen', label: 'Peso Origen (kg)', field: 'peso_origen', sortable: true },
        { name: 'peso_inicial', label: 'Peso Inicial (kg)', field: 'peso_inicial' },
        { name: 'peso_final', label: 'Peso Final (kg)', field: 'peso_final' },
        { name: 'peso_neto', label: 'Peso Neto (kg)', field: 'peso_neto' },
        { name: 'acciones', label: 'Acción', field: 'acciones', align: 'center' }
      ]
    }
  },
  computed: {
    actualizaInfo () {
      return this.$store.state.store.movimiento_registro
    },
    url_api () {
      return this.$store.state.store.url_api
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    }
  },
  methods: {
    onSubmit () {
      this.confirm()
    },

    confirm () {
      this.$q.dialog({
        title: 'Confirmar registro',
        message: this.configura_modulo.confirmacion,
        cancel: true,
        persistent: true
      }).onOk(() => {
        if (this.pesaje_final === true) {
          this.pesajeFinal()
        } else {
          this.registrarPesaje()
        }
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },

    registrarPesaje () {
      this.showLoading()
      var self = this
      axios.post(this.url_api + '/api/pesaje/registrar/', {
        tipo: this.tipo,
        nit: this.empresa,
        placa: this.placa,
        peso_origen: this.peso_origen,
        peso_inicial: this.peso_inicial,
        peso_final: this.peso_final,
        peso_neto: this.peso_neto,
        id_cargue: this.id_cargue,
        token: localStorage.getItem('token'),
        observaciones: this.observaciones
      }).then(function (res) {
        if (res.data.error === 'si') {
          self.$q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            timeout: 6000,
            message: res.data.mensaje
          })
          self.hideLoading()
          return false
        }
        if (res.data.mensaje === 'doble_ingreso') {
          self.$q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            message: 'La placa ' + self.placa + ' se encuentra en vehículos pendientes por pesaje final'
          })
          self.hideLoading()
          return false
        }
        if (res.data.guardo === true) {
          self.hideLoading()
          // self.$store.state.store.vehiculo_registrado++
          // self.vehiculoIngresado()
          self.$q.notify({
            color: 'green',
            textColor: 'white',
            icon: 'cloud_done',
            position: 'center',
            timeout: 2500,
            message: self.configura_modulo.confirmacion_exito
          })
          self.$refs.form_vehiculo.reset()
          self.cargaPesajesPendientes()
        } else {
          self.hideLoading()
          self.$q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            message: self.configura_modulo.error
          })
        }
      }).catch(function (err) {
        self.hideLoading()
        self.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'Error : ' + err
        })
      })
    },
    cargaVehiculos (val = '') {
      axios.get(this.url_api + '/api/vehiculos/listado/', {
        params: {
          placa: val,
          tipo: this.tipo
        }
      }).then((response) => {
        this.vehiculos = response.data
      })
    },
    cargaEmpresas () {
      axios.get(this.url_api + '/api/empresas/listado').then((response) => {
        this.empresas = response.data
      })
    },
    cargaPesajesPendientes () {
      axios.get(this.url_api + '/api/pesaje/pesajes-pendientes/').then((response) => {
        this.pesajes_pendientes = response.data
      })
    },
    obtenerInfocargue (placa) {
      if (this.tipo === 'trigo') {
        axios.get(this.url_api + '/api/cargues/info-cargue/' + placa).then((response) => {
          this.infoCargue = response.data
          // console.log(response.data.length)
          if (response.data.length > 0) {
            if (!this.infoCargue[0].documento) {
              this.$q.notify({
                color: 'red',
                textColor: 'white',
                icon: 'warning',
                position: 'center',
                timeout: 3000,
                message: 'Falta ingresar la información del conductor'
              })
              this.id_cargue = ''
              this.peso_origen = 0
              this.empresa = ''
              this.nombre_conductor = ''
              return false
            }
            this.id_cargue = this.infoCargue[0].id_cargue
            this.peso_origen = this.infoCargue[0].peso_origen
            this.empresa = this.infoCargue[0].nit_empresa
            this.nombre_conductor = this.infoCargue[0].nom_conductor
          } else {
            this.$q.dialog({
              title: 'Alerta de cargue<em>!</em>',
              message: '<em>No hay cargues asociados a la placa ' + placa + ', por favor asociarlo en el modulo de <b>Cargue trigo</b></em>',
              html: true
            }).onOk(() => {
              // console.log('OK')
            }).onCancel(() => {
              // console.log('Cancel')
            }).onDismiss(() => {
              // console.log('I am triggered on both OK and Cancel')
            })
            this.id_cargue = ''
            this.peso_origen = 0
            this.empresa = ''
            this.nombre_conductor = ''
          }
        })
      }
    },
    pesajeFinal () {
      this.showLoading()
      var self = this
      axios.put(this.url_api + '/api/pesaje/pesaje-final/' + this.id_pesaje, {
        id_pesaje: this.id_pesaje,
        peso_final: this.peso_final,
        peso_neto: this.peso_neto,
        facturar: this.redondeo(this.facturar, 0),
        peso_bruto_erp: this.peso_facturado,
        kilos_dif: this.diferencia,
        nivel_acep: this.nivel_aceptacion
      }).then(function (res) {
        if (res.data.guardo === true) {
          // si es trigo debe inactivar la precarga de info (cargues)
          if (self.tipo === 'trigo') {
            self.inactivarCargue(res.data.num_dcto)
          }
          self.hideLoading()
          self.cargaPesajesPendientes()
          // verifica si hay kilos a facturar
          /* if (self.facturar < 0) {
            self.showDialog(self.facturar)
          } */
          self.$q.notify({
            color: 'green',
            textColor: 'white',
            icon: 'cloud_done',
            position: 'center',
            timeout: 1000,
            message: self.configura_modulo.confirmacion_exito
          })
          self.generarFacturaPesaje(self.id_pesaje)
          self.limipiarDatosCalculadosFaltante()
          self.$refs.form_vehiculo.reset()
        } else {
          self.hideLoading()
          self.$q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            message: self.configura_modulo.error
          })
        }
      }).catch(function (err) {
        self.hideLoading()
        self.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'Error : ' + err
        })
      })
    },
    obtenerInfoPesoTotal () {
      var self = this
      self.peso_facturado = 0
      self.diferencia = 0
      self.nivel_aceptacion = 0
      self.peso_aceptable = 0
      self.peso_precausion = 0
      axios.get(this.url_api + '/api/facturacion/obtener-info-placa/', {
        params: {
          placa: self.placa
        }
      }).then((response) => {
        // console.log(self.placa)
        self.peso_facturado = response.data.respuesta
      }).finally(function () {
        // console.log(self.peso_neto)
        // self.peso_neto = 16000
        if (self.peso_facturado > 0 && self.peso_neto > 0) {
          self.diferencia = self.redondeo((self.peso_neto - self.peso_facturado), 2)
          self.nivel_aceptacion = self.redondeo((self.diferencia / self.peso_facturado) * 10000, 2)
          self.peso_aceptable = self.redondeo((self.peso_facturado * 3) / 1000, 2)
          self.peso_precausion = self.redondeo((self.peso_facturado * 6) / 1000, 2)
        }
        // self.nivel_aceptacion = -60
        // alerta según condiciones estupiladas
        if (self.diferencia) {
          if (self.diferencia <= -self.peso_precausion || self.diferencia >= self.peso_precausion) {
            self.modal_alerta_pesaje = true
            self.actualizarInfoPrecaucion()
          }
        } else {
          self.peso_facturado = 0
          self.diferencia = 0
          self.nivel_aceptacion = 0
          self.peso_aceptable = 0
          self.peso_precausion = 0
        }
      })
    },
    actualizarInfoPrecaucion () {
      var self = this
      axios.put(this.url_api + '/api/pesaje/actualiza-info-precaucion/', {
        diferencia: self.diferencia,
        peso_facturado: self.peso_facturado,
        id_pesaje: self.id_pesaje,
        nivel_aceptacion: self.nivel_aceptacion,
        peso_aceptable: self.peso_aceptable,
        peso_precaucion: self.peso_precausion,
        precaucion: 'si'
      }).then(function (res) {

      })
    },
    inactivarCargue (numDoc) {
      var self = this
      axios.put(this.url_api + '/api/cargues/inactivar-cargue/' + self.id_cargue, {
        id_cargue: self.id_cargue,
        num_doc: numDoc,
        token: localStorage.getItem('token')
      }).then(function (res) {

      })
    },
    onReset () {
      this.id_pesaje = ''
      this.placa = ''
      this.tipo = 'producto_terminado'
      this.peso_origen = 0
      this.peso_bascula = 0
      this.peso_inicial = 0
      this.peso_final = 0
      this.peso_neto = 0
      this.observaciones = ''
      this.pesaje_final = false
      this.deshabilitar = false
      this.empresa = ''
      this.id_cargue = ''
      this.peso_facturado = 0
      this.diferencia = 0
      this.nivel_aceptacion = 0
    },
    showDialog (kilos) {
      kilos = kilos * -1
      this.$q.dialog({
        title: '<em>Kilos a facturar !</em>',
        message: 'Son ' + '<b>' + this.redondeo(kilos, 0) + '</b>' + ' Kilos a facturar',
        html: true
      }).onOk(() => {
        // console.log('OK')
      }).onCancel(() => {
        // console.log('Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    showDialogPlaca (placa) {
      this.$q.dialog({
        title: 'Placa seleccionada',
        message: '<b style="font-size:40px">' + placa + '</b>',
        html: true
      }).onOk(() => {
        // console.log('OK')
      }).onCancel(() => {
        // console.log('Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    showLoading () {
      this.$q.loading.show({
        message: this.configura_modulo.loader
      })
    },
    showLoadingPeso () {
      this.$q.loading.show({
        message: this.configura_modulo.loader_peso
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    obtenerTitulosModificar () {
      // CAMBIO LOS TITULOS POR QUE SIGNIFICA QUE SE VA A MODIFICAR EL REGISTRO
      this.configura_modulo.resumen = 'Modificación de Vehículos'
      this.configura_modulo.confirmacion = '¿Está seguro de modificar el vehículo?'
      this.configura_modulo.confirmacion_exito = 'Vehículo modificado exitosamente'
      this.configura_modulo.error = 'Error al modificar el vehículo'
      this.configura_modulo.loader = 'Actualizando información<br/>Por favor espere...'
      this.configura_modulo.btn_accion = 'Modificar Vehículo'
    },
    filterFn (val, update) {
      if (val === '') {
        update(() => {
          this.cargaVehiculos(val)
        })
        return
      }

      update(() => {
        this.cargaVehiculos(val)
        // const needle = val.toLowerCase()
        // this.options = stringOptions.filter(v => v.toLowerCase().indexOf(needle) > -1)
      })
    },
    async filterFnPlaca (val, update, abort) {
      // call abort() at any time if you can't retrieve data somehow
      if (this.vehiculos.length === 0) {
        // if there is no data, fetch and cache it so it can be filtered
        this.cargaVehiculos(val)
      }
      if (val === '') {
        update(() => {
          this.opciones_vehiculos = this.vehiculos.map(placa => placa.placa)
        })
      } else if (this.vehiculos.length === 0) {
        update(() => {
          this.opciones_vehiculos = []
        })
      } else {
        update(() => {
          this.opciones_vehiculos = this.vehiculos
            .map(placa => placa.placa)
            .filter(placa => {
              return placa && placa.toLowerCase().indexOf(val.toLowerCase()) !== -1
            })
        })
      }
    },
    async filterFnEmpresa (val, update, abort) {
      // call abort() at any time if you can't retrieve data somehow
      if (this.empresas.length === 0) {
        // if there is no data, fetch and cache it so it can be filtered
        this.cargaEmpresas()
      }
      if (val === '') {
        update(() => {
          this.opciones_empresas = this.empresas
          // this.opciones_empresas = this.empresas.map(nombre => nombre.nombre)
        })
      } else if (this.empresas.length === 0) {
        update(() => {
          this.opciones_empresas = []
        })
      } else {
        update(() => {
          this.opciones_empresas = this.empresas
            .map(nombre => nombre.nombre)
            .filter(nombre => {
              return nombre && nombre.toLowerCase().indexOf(val.toLowerCase()) !== -1
            })
        })
      }
    },
    obtenerDatosEditar () {
      if (this.datos_editar) {
        // console.log(this.datos_editar)
        this.obtenerTitulosModificar()
        this.id_pesaje = this.datos_editar[0].id_pesaje
        this.id_veh = this.datos_editar[0].id_veh
        this.placa = this.datos_editar[0].placa
        this.descripcion = this.datos_editar[0].descripcion
        this.peso = this.datos_editar[0].peso
      }
    },
    obtenerDatos (datos) {
      // console.log(datos)
      this.id_pesaje = datos.id_pesaje
      this.placa = datos.placa
      this.tipo = datos.tipo
      this.peso_origen = datos.peso_origen
      this.peso_inicial = datos.peso_inicial
      this.peso_final = this.peso_bascula
      this.pesaje_final = true
      this.empresa = datos.nit_empresa
      this.deshabilitar = true
      this.id_cargue = datos.id_cargue
      this.nombre_conductor = datos.nom_cond
      if (this.tipo === 'trigo') {
        this.showDialogPlaca(datos.placa)
      }

      this.obtenerPesoBascula()
    },
    obtenerPesoBascula () {
      this.showLoadingPeso()
      var self = this
      axios.get(this.url_api + '/api/pesaje/obtener-peso/')
        .then(function (response) {
          // handle success
          if (response.data.respuesta === 'OK' && parseInt(response.data.peso) > 0) {
            self.$q.notify({
              color: 'green',
              textColor: 'white',
              icon: 'cloud_done',
              position: 'center',
              timeout: 500,
              message: 'Peso capturado exitosamente'
            })
            if (self.pesaje_final === false) {
              self.peso_bascula = response.data.peso
              self.peso_inicial = response.data.peso
              self.peso_neto = self.peso_inicial - self.peso_final
            } else {
              // console.log(response.data.peso)
              self.peso_final = response.data.peso
              // console.log('PESO FINAL' + self.peso_final)
              // console.log('PESO INICIAL' + self.peso_inicial)
              if (self.tipo !== 'trigo') {
                if (parseInt(self.peso_final) < parseInt(self.peso_inicial)) {
                  self.$q.notify({
                    color: 'red',
                    textColor: 'white',
                    icon: 'cloud_done',
                    position: 'center',
                    timeout: 3000,
                    message: 'El peso FINAL es menor que el peso INICIAL'
                  })
                  self.peso_final = 0
                  self.peso_neto = 0
                } else {
                  self.peso_final = response.data.peso
                  self.peso_bascula = response.data.peso
                  self.peso_neto = self.peso_final - self.peso_inicial
                }
                // limpiar variables de calculos para el trigo que no debe afectar cuando es producto terminado
                self.limipiarDatosCalculadosFaltante()
              } else {
                self.peso_bascula = response.data.peso
                self.peso_neto = self.peso_inicial - self.peso_final
                self.faltante = parseInt(self.peso_neto) - parseInt(self.peso_origen)
                self.merma_permitida = self.peso_neto * 0.001
                self.peso_origen_merma = self.peso_origen - self.merma_permitida
                self.facturar = self.peso_neto - self.peso_origen_merma
              }
            }
          } else {
            if (self.pesaje_final === false) {
              self.peso_bascula = 0
              self.peso_inicial = 0
              self.peso_neto = 0
            } else {
              self.peso_bascula = 0
            }
            self.$q.notify({
              color: 'red',
              textColor: 'white',
              icon: 'error',
              position: 'center',
              timeout: 3000,
              message: 'Error al capturar el peso de la báscula o peso en 0'
            })
          }
        })
        .catch(function (error) {
          self.$q.notify({
            color: 'red',
            textColor: 'white',
            icon: 'error',
            position: 'center',
            timeout: 500,
            message: 'Error al capturar el peso de la báscula ' + error
          })
        })
        .finally(function () {
          self.hideLoading()
          if (self.pesaje_final === true) {
            if (self.tipo === 'producto_terminado') {
              self.obtenerInfoPesoTotal()
            }
          }
        })
    },
    limipiarDatosCalculadosFaltante () {
      this.faltante = 0
      this.merma_permitida = 0
      this.peso_origen_merma = 0
      this.facturar = 0
    },
    validaDescripcion (val = '') {
      if (val.length >= 100) {
        return 'Solo se permiten 100 caracteres'
      } else {
        return true
      }
    },
    validaPlaca (val = '') {
      if (val.length === 0) {
        return 'Falta buscar la placa del vehículo'
      } else {
        return true
      }
    },
    validaPeso (val = 0) {
      if (val === 0) {
        return 'Falta capturar el peso de la báscula'
      } else {
        return true
      }
    },
    validaPesoFinal (val = 0) {
      if (this.pesaje_final === true) {
        if (val === 0) {
          return 'Falta capturar el peso de la báscula'
        } else {
          return true
        }
      }
    },
    validaPesoOrigen (val = 0) {
      if (this.tipo === 'trigo') {
        if (val === 0) {
          return 'Falta ingresar el peso origen'
        } else {
          return true
        }
      }
    },
    validaEmpresa (val = '') {
      if (this.tipo === 'trigo') {
        if (val.length === 0) {
          return 'Falta seleccionar la empresa'
        } else {
          return true
        }
      }
    },
    redondeo (numero, decimales) {
      var flotante = parseFloat(numero)
      var resultado = Math.round(flotante * Math.pow(10, decimales)) / Math.pow(10, decimales)
      return resultado
    },
    generarFacturaPesaje (id) {
      window.location.href = this.url_api + '/api/pesaje/generar-factura/' + id
    },
    ...mapActions('store', ['vehiculoIngresado', 'obtenerPermisos']),
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    }
  },
  created () {
    this.showLoading()
  },
  mounted () {
    this.cargaPesajesPendientes()
    this.cargaVehiculos()
    this.obtenerDatosEditar()
    this.cargaEmpresas()
    this.obtenerPermisos()
    this.hideLoading()
  },
  watch: {
    actualizaInfo () {
      this.modal_reg_emp = false
      this.cargaEmpresas()
    },
    tipo () {
      this.cargaVehiculos()
      // solo limpia los datos cuando no es pesaje final
      if (this.pesaje_final === false) {
        this.empresa = ''
        this.peso_origen = 0
        this.nombre_conductor = ''
      }
    }
  }
}
</script>

<style lang="sass">
.my-sticky-header-table
  /* max height is important */
  .q-table__middle
    max-height: 400px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: #FDF9EA

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
</style>
