<template>
  <div class="q-pa-md q-gutter-sm">
    <div class="row justify-center">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <vehiculo-listado/>
      </div>
    </div>
    <q-dialog v-model="modal_reg_veh" persistent>
      <q-card  style="width: 700px; max-width: 80vw;">
        <q-card-section>
          <vehiculo-registro/>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-page-sticky position="bottom-right" :offset="[18, 18]" v-if="verificaPermiso(6)">
      <q-btn fab icon="add" color="primary" @click="modal_reg_veh = true" />
    </q-page-sticky>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  data () {
    return {
      icon: false,
      bar: false,
      bar2: false,
      modal_reg_veh: false
    }
  },
  computed: {
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    }
  },
  methods: {
    ...mapActions('store', ['obtenerPermisos']),
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    }
  },
  mounted () {
    this.obtenerPermisos()
  }
}
</script>
