<template>
  <div class="q-pa-md">
    <div class="row ">
     <div class="col-xs-12 col-sm-8 col-md-8">
      <q-table
        title="Lista de vehículos"
        :data="vehiculos"
        :columns="columns"
        row-key="placa"
        :loading="loading"
        :filter="filter"
        class="my-sticky-header-table"
        bordered
        rows-per-page-label = "Registros por página"
      >

        <template v-slot:top-right>
          <q-input  dense debounce="300" v-model="filter" placeholder="Busqueda de vehículos">
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </template>

        <template v-slot:body="props">
          <q-tr :props="props">

            <q-td key="placa" :props="props" >
              {{ props.row.placa }}
            </q-td>

            <q-td key="descripcion" :props="props">
              {{ props.row.descripcion }}
            </q-td>

            <q-td key="peso" :props="props">
              {{ props.row.peso }}
            </q-td>

            <q-td key="acciones" :props="props">

                <q-btn v-if="verificaPermiso(8)" round color="primary" icon="edit" size="sm" @click="obtenerDatos(props.row)"/>

            </q-td>

          </q-tr>
        </template>
      </q-table>
     </div>
     </div>
    <q-dialog v-model="modal_reg_veh" persistent>
      <q-card  style="width: 700px; max-width: 80vw;">
        <q-card-section>
          <vehiculo-registro :datos_editar="datos_seleccionado"/>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import { mapActions } from 'vuex'
export default {
  data () {
    return {
      vehiculos: [],
      selected: [],
      datos_seleccionado: [],
      modal_reg_veh: false,
      loading: false,
      filter: '',
      columns: [
        {
          name: 'placa',
          required: true,
          label: 'Placa',
          align: 'center',
          field: row => row.placa,
          format: val => `${val}`,
          sortable: true,
          style: 'width: 100px'
        },
        { name: 'descripcion', align: 'left', label: 'Descripción', field: 'descripcion', sortable: true, style: 'width: 150px' },
        { name: 'peso', align: 'center', label: 'Peso (KG)', field: 'peso', sortable: true, style: 'width: 150px' },
        { name: 'acciones', align: 'center', label: 'Acciones', field: 'acciones', sortable: false, style: 'width: 150px' }
      ]
    }
  },
  computed: {
    actualizaListado () {
      return this.$store.getters['store/movimiento_registro']
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    },
    url_api () {
      return this.$store.state.store.url_api
    }
  },
  methods: {
    listadoVehiculos () {
      var self = this
      self.loading = true
      axios.get(this.url_api + '/api/vehiculos/listado/').then((response) => {
        self.vehiculos = response.data
      }).finally(function () {
        self.loading = false
      })
    },
    obtenerDatos (datos) {
      this.modal_reg_veh = true
      this.datos_seleccionado = []
      this.datos_seleccionado.push(datos)
    },
    ...mapActions('store', ['obtenerPermisos']),
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    }
  },
  mounted () {
    this.listadoVehiculos()
    this.obtenerPermisos()
  },
  watch: {
    actualizaListado () {
      this.listadoVehiculos()
      this.modal_reg_veh = false
    }
  }
}
</script>

<style lang="sass">
.my-sticky-header-table
  /* max height is important */
  .q-table__middle
    max-height: 400px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: #FDF9EA

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
</style>
