<template>
  <div class="q-pa-md">
    <div class="text-h5">
    <q-card class="my-card">
      <q-card-section class="bg-secondary">
        <div class="text-h6 text-primary">{{configura_modulo.nombre}}</div>
        <div class="text-subtitle2 text-primary">{{configura_modulo.resumen}}</div>
      </q-card-section>

      <q-separator />

        <div class="q-pa-md" >

          <q-form
            @submit.prevent="onSubmit"
            @reset="onReset"
            class="q-gutter-md"
            ref="form_vehiculo"
          >

            <div class="row ">
              <div class="col-xs-12 col-sm-6 col-md-4">
                <q-input
                  outlined
                  v-model="placa"
                  label="Placa del vehículo"
                  mask="XXXXXX"
                  stack-label
                  :dense="dense"
                  :rules="[ val => val && val.length > 0 || 'Por favor digite la placa del vehículo',
                            val => val.length <= 10 || 'Solo se permiten 10 caracteres']"
                />
              </div>
              <div class="col-auto"></div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-7">
                <q-input
                  outlined
                  v-model="descripcion"
                  label="Descripción del vehículo"
                  stack-label
                  :dense="dense"
                  :rules="[validaDescripcion]"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4">
                <q-input
                  outlined
                  v-model="peso"
                  label="Peso del vehículo en KG"
                  stack-label
                  mask="######"
                  :dense="dense"
                  :rules="[validaPeso]"
                />
              </div>
            </div>

            <div class="row">
              <q-btn :label="configura_modulo.btn_accion" type="submit" color="primary"/>
              <q-btn label="Limpiar Datos" type="reset" color="primary" flat class="q-ml-sm"/>
              <q-space />
              <q-btn round color="red-5" icon="close" v-close-popup/>
            </div>
          </q-form>

        </div>

    </q-card>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { mapActions } from 'vuex'
export default {
  props: {
    datos_editar: {
      type: Array,
      required: false
    }
  },
  data () {
    return {
      id_veh: '',
      placa: '',
      descripcion: '',
      peso: '',
      accept: false,
      dense: true,
      configura_modulo: {
        nombre: 'VEHICULOS',
        resumen: 'Registro de vehículos',
        confirmacion: '¿Está seguro de registrar el vehículo?',
        confirmacion_exito: 'Vehículo registrado exitosamente',
        error: 'Error al registrar el vehículo',
        loader: 'Guardando información<br/>Por favor espere...',
        btn_accion: 'Registrar Vehículo',
        existe_vehiculo: 'La placa ya existe en el sistema'
      }
    }
  },
  computed: {
    url_api () {
      return this.$store.state.store.url_api
    }
  },
  methods: {
    onSubmit () {
      this.confirm()
    },

    confirm () {
      this.$q.dialog({
        title: 'Confirmar registro',
        message: this.configura_modulo.confirmacion,
        cancel: true,
        persistent: true
      }).onOk(() => {
        if (this.datos_editar) {
          this.modificarVehiculo()
        } else {
          this.registrarVehiculo()
        }
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },

    registrarVehiculo () {
      this.showLoading()
      var self = this
      axios.post(this.url_api + '/api/vehiculos/registrar/', {
        placa: this.placa,
        descripcion: this.descripcion,
        peso: this.peso
      }).then(function (res) {
        if (res.data.mensaje === 'existe_vehiculo') {
          self.$q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            message: self.configura_modulo.existe_vehiculo
          })
          self.hideLoading()
        } else {
          if (res.data.guardo === true) {
            self.hideLoading()
            // self.$store.state.store.vehiculo_registrado++
            self.vehiculoIngresado()
            self.$q.notify({
              color: 'green',
              textColor: 'white',
              icon: 'cloud_done',
              position: 'center',
              timeout: 2500,
              message: self.configura_modulo.confirmacion_exito
            })
            self.$refs.form_vehiculo.reset()
          } else {
            self.hideLoading()
            self.$q.notify({
              color: 'red-5',
              textColor: 'white',
              icon: 'warning',
              message: self.configura_modulo.error
            })
          }
        }
      }).catch(function (err) {
        self.hideLoading()
        self.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'Error : ' + err
        })
      })
    },

    modificarVehiculo () {
      this.showLoading()
      var self = this
      axios.put(this.url_api + '/api/vehiculos/editar/' + this.id_veh, {
        id_veh: this.id_veh,
        placa: this.placa,
        descripcion: this.descripcion,
        peso: this.peso
      }).then(function (res) {
        if (res.data.modifico === true) {
          self.hideLoading()
          // self.$store.state.store.vehiculo_registrado++
          self.vehiculoIngresado()
          self.$q.notify({
            color: 'green',
            textColor: 'white',
            icon: 'cloud_done',
            position: 'center',
            timeout: 1000,
            message: self.configura_modulo.confirmacion_exito
          })
          self.$refs.form_vehiculo.reset()
        } else {
          self.hideLoading()
          self.$q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            message: self.configura_modulo.error
          })
        }
      }).catch(function (err) {
        self.hideLoading()
        self.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'Error : ' + err
        })
      })
    },
    onReset () {
      this.placa = ''
      this.descripcion = ''
      this.peso = ''
    },
    showLoading () {
      this.$q.loading.show({
        message: this.configura_modulo.loader
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    obtenerTitulosModificar () {
      // CAMBIO LOS TITULOS POR QUE SIGNIFICA QUE SE VA A MODIFICAR EL REGISTRO
      this.configura_modulo.resumen = 'Modificación de Vehículos'
      this.configura_modulo.confirmacion = '¿Está seguro de modificar el vehículo?'
      this.configura_modulo.confirmacion_exito = 'Vehículo modificado exitosamente'
      this.configura_modulo.error = 'Error al modificar el vehículo'
      this.configura_modulo.loader = 'Actualizando información<br/>Por favor espere...'
      this.configura_modulo.btn_accion = 'Modificar Vehículo'
    },
    obtenerDatosEditar () {
      if (this.datos_editar) {
        this.obtenerTitulosModificar()
        this.id_veh = this.datos_editar[0].id_veh
        this.placa = this.datos_editar[0].placa

        if (this.datos_editar[0].descripcion !== null) {
          this.descripcion = this.datos_editar[0].descripcion
        } else {
          this.descripcion = ''
        }

        if (this.datos_editar[0].peso !== null) {
          this.peso = this.datos_editar[0].peso
        } else {
          this.peso = ''
        }
      }
    },
    validaDescripcion (val = '') {
      if (val.length >= 100) {
        return 'Solo se permiten 100 caracteres'
      } else {
        return true
      }
    },
    validaPeso (val = '') {
      if (val.length >= 11) {
        return 'Solo se permiten 11 caracteres'
      } else {
        return true
      }
    },
    ...mapActions('store', ['vehiculoIngresado'])
  },
  mounted () {
    this.obtenerDatosEditar()
  }
}
</script>
