<template>
  <div class="q-pa-md q-gutter-sm">
    <clientes-listado/>
    <q-dialog v-model="modal_reg_cli" persistent>
      <q-card  style="width: 700px; max-width: 80vw;">
        <q-card-section>
          <clientes-registro/>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-btn fab icon="add" color="primary" @click="modal_reg_cli = true" />
    </q-page-sticky>
  </div>
</template>

<script>
export default {
  data () {
    return {
      icon: false,
      bar: false,
      bar2: false,
      modal_reg_cli: false,
      tareas: [
        { texto: 'Tarea #1', estado: false },
        { texto: 'Tarea #2', estado: true },
        { texto: 'Tarea #3', estado: false }
      ]
    }
  }
}
</script>
