<template>
  <div class="q-pa-md">
    <q-table
      title="Lista de clientes"
      :data="clientes"
      :columns="columns"
      row-key="nit"
      :loading="loading"
      :filter="filter"
    >

      <template v-slot:top-right>
        <q-input  dense debounce="300" v-model="filter" placeholder="Busqueda de clientes">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>

      <template v-slot:body="props">
        <q-tr :props="props">

          <q-td key="nit" :props="props" >
            {{ props.row.nit }}
            <q-btn dense round flat :icon="props.expand ? 'arrow_drop_up' : 'arrow_drop_down'" @click="props.expand = !props.expand" />
          </q-td>

          <q-td key="nombre_comercial" :props="props">
            {{ props.row.nombre_comercial }}
          </q-td>

          <q-td key="razon_social" :props="props">
            {{ props.row.razon_social }}
          </q-td>

          <q-td key="direccion" :props="props">
            {{ props.row.direccion }}
          </q-td>

          <q-td key="acciones" :props="props">

              <q-btn round color="primary" icon="edit" size="sm" @click="obtenerDatos(props.row)"/>

          </q-td>

        </q-tr>
        <q-tr v-show="props.expand" :props="props" style="background-color:#faf5e1">
          <q-td colspan="100%">
            <div class="row">
              <div class="col-2"><b>Telefono  </b> {{ props.row.telefono }}.</div>
              <div class="col-2"><b>Celular  </b> {{ props.row.telefono }}.</div>
              <div class="col-2"><b>Correo  </b> {{ props.row.correo }}.</div>
              <div class="col-2"><b>Representante  </b> {{ props.row.representante }}.</div>
              <div class="col-2"><b>Ciudad  </b> {{ props.row.nom_ciu }}.</div>
              <div class="col-2"><b>Departamento  </b> {{ props.row.nom_dep }}.</div>
            </div>
          </q-td>
        </q-tr>
      </template>

    </q-table>

    <q-dialog v-model="modal_reg_cli" persistent>
      <q-card  style="width: 700px; max-width: 80vw;">
        <q-card-section>
          <clientes-registro :datos_editar="datos_seleccionado"/>
        </q-card-section>
      </q-card>
    </q-dialog>

  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      clientes: [],
      selected: [],
      datos_seleccionado: [],
      modal_reg_cli: false,
      loading: false,
      filter: '',
      columns: [
        {
          name: 'nit',
          required: true,
          label: 'Nit',
          align: 'left',
          field: row => row.name,
          format: val => `${val}`,
          sortable: true,
          style: 'width: 100px'
        },
        { name: 'nombre_comercial', align: 'left', label: 'Nombre Comercial', field: 'nombre_comercial', sortable: true, style: 'width: 150px' },
        { name: 'razon_social', align: 'left', label: 'Razón Social ', field: 'razon_social', sortable: true, style: 'width: 150px' },
        { name: 'direccion', align: 'left', label: 'Dirección', field: 'direccion', sortable: true, style: 'width: 150px' },
        { name: 'acciones', align: 'center', label: 'Acciones', field: 'acciones', sortable: false, style: 'width: 150px' }
      ]
    }
  },
  computed: {
    prueba () {
      return this.$store.state.store.cliente_registrado
    }
  },
  methods: {
    listadoCLientes () {
      var self = this
      self.loading = true
      axios.get('http://localhost:8000/api/clientes/listado/').then((response) => {
        self.clientes = response.data
      }).finally(function () {
        self.loading = false
      })
    },
    obtenerDatos (datos) {
      this.modal_reg_cli = true
      this.datos_seleccionado.push(datos)
    }
  },
  mounted () {
    this.listadoCLientes()
  },
  watch: {
    prueba () {
      this.listadoCLientes()
    }
  }
}
</script>
