<template>
  <div class="q-pa-md">
    <div class="text-h5">
    <q-card class="my-card">
      <q-card-section class="text-black">
        <div class="text-h6">CLIENTES</div>
        <div class="text-subtitle2">Registro de clientes</div>
      </q-card-section>

      <q-separator />

        <div class="q-pa-md" >

          <q-form
            @submit.prevent="onSubmit"
            @reset="onReset"
            class="q-gutter-md"
            ref="form_cliente"
          >

            <div class="row ">
              <div class="col-xs-12 col-sm-6 col-md-4">
                <q-input
                  v-model="nit"
                  type="number"
                  label="Nit *"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Por favor digite el nit',
                            val => val.length <= 20 || 'Solo se permiten 20 caracteres']"
                />
              </div>
              <div class="col-auto"></div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-7">
                <q-input
                  v-model="nombre_comercial"
                  label="Nombre Comercial *"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Por favor digite el nombre comercial',
                            val => val.length <= 100 || 'Solo se permiten 100 caracteres']"
                />
              </div>
            </div>

            <div class="row">
               <div class="col-xs-12 col-sm-6 col-md-6 q-mr-md">
                <q-input
                  v-model="razon_social"
                  label="Razón social *"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Por favor digite la razón social',
                            val => val.length <= 100 || 'Solo se permiten 100 caracteres']"
                />
              </div>
              <div class="col-xs-12 col-sm-6 col-md-5 ">
                <q-input
                  v-model="representante"
                  label="Representante"
                  lazy-rules
                />
              </div>
            </div>

            <div class="row ">
              <div class="col-xs-12 col-sm-4 col-md-5 q-mr-md">
                <q-input
                  v-model="correo"
                  label="Correo electrónico"
                  type="email"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Por favor digite el correo electrónico',
                            val => val.length <= 100 || 'Solo se permiten 100 caracteres']"
                />
              </div>

              <div class="col-xs-12 col-sm-4 col-md-3 q-mr-md">
                <q-input
                  v-model="telefono"
                  label="Telefono Fijo"
                  lazy-rules
                />
              </div>

              <div class="col-xs-12 col-sm-4 col-md-3 q-mr-md">
                <q-input
                  v-model="celular"
                  label="Número de celular *"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Por favor digite el número de celular',
                            val => val.length <= 45 || 'Solo se permiten 45 caracteres']"
                />
              </div>

              <div class="col-xs-12 col-sm-4 col-md-2"></div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4 q-mr-md">
                <q-select
                  @input="cargaCiudades(departamento)"
                  v-model="departamento"
                  label="Departamento"
                  :options="departamentos"
                  emit-value
                  map-options
                  option-value="codigo"
                  option-label="nombre"
                  :rules="[ val => val && val.length > 0 || 'Por favor seleccione el departamento']"
                />
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4">
                <q-select
                  v-model="ciudad"
                  label="Ciudad"
                  :options="ciudades"
                  emit-value
                  map-options
                  option-value="id_ciudad"
                  option-label="nombre"
                  :rules="[ val => val && val.length > 0 || 'Por favor seleccione la ciudad']"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-12">
                <q-input
                  v-model="direccion"
                  label="Dirección *"
                  lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Por favor digite la dirección',
                            val => val.length <= 100 || 'Solo se permiten 100 caracteres']"
                />
              </div>
            </div>

            <div class="row">
              <q-btn label="Registrar Cliente" type="submit" color="primary"/>
              <q-btn label="Limpiar Datos" type="reset" color="primary" flat class="q-ml-sm"/>
              <q-space />
              <q-btn round color="red-5" icon="close" v-close-popup/>
            </div>
          </q-form>

        </div>

    </q-card>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  props: {
    datos_editar: {
      type: Array,
      required: false
    }
  },
  data () {
    return {
      nit: null,
      nombre_comercial: null,
      razon_social: null,
      representante: null,
      telefono: null,
      celular: null,
      direccion: null,
      correo: null,
      accept: false,
      dense: false,
      departamento: null,
      departamentos: [],
      ciudad: null,
      ciudades: ['0']
    }
  },

  methods: {
    onSubmit () {
      this.confirm()
      /*  if (this.accept !== true) {
        this.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'You need to accept the license and terms first'
        })
      } else {
        this.$q.notify({
          color: 'green-4',
          textColor: 'white',
          icon: 'cloud_done',
          message: 'Submitted'
        })
      } */
    },

    confirm () {
      this.$q.dialog({
        title: 'Confirmar registro',
        message: '¿Está seguro de registrar el cliente ' + this.nombre_comercial + '?',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.registrarCliente()
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },

    registrarCliente () {
      this.showLoading()
      var self = this
      axios.post('http://localhost:8000/api/clientes/registrar/', {
        nit: this.nit,
        nombre_comercial: this.nombre_comercial,
        razon_social: this.razon_social,
        representante: this.representante,
        telefono: this.telefono,
        celular: this.celular,
        direccion: this.direccion,
        correo: this.correo,
        ciudad: this.ciudad,
        departamento: this.departamento
      }).then(function (res) {
        if (res.data.guardo === true) {
          self.hideLoading()
          self.$store.state.store.cliente_registrado++
          self.$q.notify({
            color: 'green',
            textColor: 'white',
            icon: 'cloud_done',
            position: 'center',
            message: 'El cliente ' + self.nombre_comercial + ' se registro correctamente.'
          })
          self.$refs.form_cliente.reset()
          self.ciudad = null
          self.ciudades = null
          self.departamento = null
        } else {
          self.hideLoading()
          self.$q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            message: 'Error al registrar el cliente'
          })
        }
      }).catch(function (err) {
        self.hideLoading()
        self.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'Error : ' + err
        })
      })
    },

    onReset () {
      this.nit = null
      this.nombre_comercial = null
      this.razon_social = null
      this.representante = null
      this.telefono = null
      this.celular = null
      this.direccion = null
      this.correo = null
    },

    cargaDepartamentos () {
      axios.get('http://localhost:8000/api/departamentos/listado/').then((response) => {
        this.departamentos = response.data
      })
    },

    validaRepresentante (value = 'y') {
      console.log(value)
      if (value.length > 40) {
        return 'Solo se permiten 40 caracteres'
      } else {
        return true
      }
    },
    cargaCiudades (departamento) {
      this.ciudad = ''
      axios.get('http://localhost:8000/api/ciudades/listado/' + departamento)
        .then((response) => {
          this.ciudades = response.data
        })
    },
    showLoading () {
      this.$q.loading.show({
        message: 'Guardando información<br/>Por favor espere...'
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    obtenerDatosEditar () {
      if (this.datos_editar) {
        console.log(this.datos_editar)
      }
    }
  },
  mounted () {
    this.cargaDepartamentos()
    this.obtenerDatosEditar()
  }
}
</script>
