<template>
  <div class="q-pa-md">
    <div class="row ">
     <div class="col-xs-12 col-sm-11 col-md-11">
      <q-table
        title="Lista de tarifas"
        :data="tarifas"
        :columns="columns"
        row-key="placa"
        :loading="loading"
        :filter="filter"
        class="my-sticky-header-table"
        bordered
        rows-per-page-label = "Registros por página"
      >

        <template v-slot:top-right>
          <q-input  dense debounce="300" v-model="filter" placeholder="Busqueda de tarifas">
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </template>

        <template v-slot:body="props">
          <q-tr :props="props">

            <q-td key="tipo_producto" :props="props" >
              {{ props.row.tipo_producto }}
            </q-td>

            <q-td key="precio" :props="props" >
              {{ props.row.precio }}
            </q-td>

            <q-td key="iva_porcentaje" :props="props">
              {{ props.row.iva_porcentaje }}
            </q-td>

            <q-td key="resolucion" :props="props" v-if="props.row.deleted == '1'" style="text-decoration: line-through">
              {{ props.row.resolucion }}
            </q-td>

            <q-td key="resolucion" :props="props" v-else>
              {{ props.row.resolucion }}
            </q-td>

            <q-td key="fecha_inicio" :props="props">
              {{ props.row.fecha_inicio }}
            </q-td>

            <q-td key="fecha_final" :props="props">
              {{ props.row.fecha_final }}
            </q-td>

            <q-td key="prefijo" :props="props">
              {{ props.row.prefijo }}
            </q-td>

            <q-td key="rango_inicio" :props="props">
              {{ props.row.rango_inicio }}
            </q-td>

            <q-td key="rango_final" :props="props">
              {{ props.row.rango_final }}
            </q-td>

            <q-td key="acciones" :props="props">
                <q-btn v-if="verificaPermiso(35)" v-show="props.row.deleted == '0'" round color="primary" icon="edit" size="sm" @click="obtenerDatos(props.row)"/>
            </q-td>

          </q-tr>
        </template>
      </q-table>
     </div>
     </div>
    <q-dialog v-model="modal_reg_tar" persistent>
      <q-card  style="width: 700px; max-width: 80vw;">
        <q-card-section>
          <tarifas-registro :datos_editar="datos_seleccionado"/>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import axios from 'axios'
import { mapActions } from 'vuex'
export default {
  data () {
    return {
      tarifas: [],
      selected: [],
      datos_seleccionado: [],
      modal_reg_tar: false,
      loading: false,
      filter: '',
      columns: [
        { name: 'tipo_producto', align: 'left', label: 'Tipo producto', field: 'tipo_producto', sortable: true, style: 'width: 150px' },
        {
          name: 'precio',
          required: true,
          label: 'Tarifa',
          align: 'right',
          field: row => row.precio,
          format: val => `${val}`,
          sortable: true,
          style: 'width: 100px'
        },
        { name: 'iva_porcentaje', align: 'left', label: '% IVA', field: 'iva_porcentaje', sortable: true, style: 'width: 150px' },
        { name: 'resolucion', align: 'center', label: '# Resolución', field: 'resolucion', sortable: true, style: 'width: 150px' },
        { name: 'fecha_inicio', align: 'center', label: 'Fecha inicio', field: 'fecha_inicio', sortable: true, style: 'width: 150px' },
        { name: 'fecha_final', align: 'center', label: 'Fecha final', field: 'fecha_final', sortable: true, style: 'width: 150px' },
        { name: 'prefijo', align: 'center', label: 'Prefijo', field: 'prefijo', sortable: true, style: 'width: 150px' },
        { name: 'rango_inicio', align: 'center', label: 'Rango inicio', field: 'rango_final', sortable: true, style: 'width: 150px' },
        { name: 'rango_final', align: 'center', label: 'Rango final', field: 'rango_final', sortable: true, style: 'width: 150px' },
        { name: 'acciones', align: 'center', label: 'Acciones', field: 'acciones', sortable: false, style: 'width: 150px' }
      ]
    }
  },
  computed: {
    actualizaListado () {
      return this.$store.getters['store/movimiento_registro']
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    },
    url_api () {
      return this.$store.state.store.url_api
    }
  },
  methods: {
    listadoTarifas () {
      var self = this
      self.loading = true
      axios.get(this.url_api + '/api/tarifa/listado/').then((response) => {
        self.tarifas = response.data
      }).finally(function () {
        self.loading = false
      })
    },
    obtenerDatos (datos) {
      this.modal_reg_tar = true
      this.datos_seleccionado = []
      this.datos_seleccionado.push(datos)
    },
    ...mapActions('store', ['obtenerPermisos']),
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    }
  },
  mounted () {
    this.listadoTarifas()
    this.obtenerPermisos()
  },
  watch: {
    actualizaListado () {
      this.listadoTarifas()
      this.modal_reg_tar = false
    }
  }
}
</script>

<style lang="sass">
.my-sticky-header-table
  /* max height is important */
  .q-table__middle
    max-height: 400px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: #FDF9EA

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
</style>
