<template>
  <div class="q-pa-md">
    <div class="text-h5">
    <q-card class="my-card">
      <q-card-section class="bg-secondary">
        <div class="text-h6 text-primary">{{configura_modulo.nombre}}</div>
        <div class="text-subtitle2 text-primary">{{configura_modulo.resumen}}</div>
      </q-card-section>

      <q-separator />

        <div class="q-pa-md" >

          <q-form
            @submit.prevent="onSubmit"
            @reset="onReset"
            class="q-gutter-md"
            ref="form_tarifa"
          >
            <div class="row ">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div style="font-size:14px">Tipo de producto</div>
                <q-radio  v-model="tipo" val="trigo" label="Trigo"  :disable="deshabilitar"/>
                <q-radio  v-model="tipo" val="producto_terminado" label="Producto terminado" :disable="deshabilitar" />
              </div>
            </div>

            <div class="row ">
              <div class="col-xs-12 col-sm-6 col-md-2 q-mr-md">
                <q-input
                  outlined
                  v-model="precio"
                  label="Valor tarifa"
                  mask="######"
                  stack-label
                  :dense="dense"
                  :rules="[ val => val && val.length > 0 || 'Por favor digite la tarifa',
                            val => val.length <= 6 || 'Solo se permiten 6 caracteres']"
                />
              </div>
              <div class="col-xs-12 col-sm-6 col-md-2">
                <q-input
                  outlined
                  v-model="iva"
                  label="% IVA"
                  mask="##"
                  stack-label
                  :dense="dense"
                  :rules="[ val => val && val.length > 0 || 'Por favor digite el % de IVA',
                            val => val.length <= 2 || 'Solo se permiten 2 caracteres']"
                />
              </div>
              <div class="col-auto"></div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-7 q-mr-sm">
                <q-input
                  outlined
                  v-model="resolucion"
                  label="Número de resolución"
                  stack-label
                  :dense="dense"
                  :rules="[ val => val && val.length > 0 || 'Por favor digíte el número de resolución',
                            val => val.length <= 50 || 'Solo se permiten 50 caracteres']"
                />
              </div>
              <div class="col-xs-12 col-sm-2 col-md-2">
                <q-input
                  outlined
                  v-model="prefijo"
                  label="Prefijo"
                  stack-label
                  :dense="dense"
                  :rules="[ val => val && val.length > 0 || 'Por favor digíte el prefijo',
                            val => val.length <= 6 || 'Solo se permiten 6 caracteres']"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-3 col-md-3 q-mr-md">
                <q-input dense v-model="date" stack-label  label="Fecha desde" readonly
                  :rules="[ val => val && val.length > 0 || 'Por favor seleccione la fecha inicial',
                            val => val.length <= 12 || 'Solo se permiten 12 caracteres']"
                >
                  <template v-slot:append>
                    <q-icon name="event" class="cursor-pointer">
                      <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                        <q-date v-model="date" mask="YYYY-MM-DD" @input="() => $refs.qDateProxy.hide()" />
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3">
                <q-input dense v-model="date2" stack-label  label="Fecha hasta" readonly
                  :rules="[ val => val && val.length > 0 || 'Por favor seleccione la fecha final',
                            val => val.length <= 12 || 'Solo se permiten 12 caracteres']"
                >
                  <template v-slot:append>
                    <q-icon name="event" class="cursor-pointer">
                      <q-popup-proxy ref="qDateProxy2" transition-show="scale" transition-hide="scale">
                        <q-date v-model="date2" mask="YYYY-MM-DD" @input="() => $refs.qDateProxy2.hide()" />
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-3 q-mr-sm">
                <q-input
                  outlined
                  v-model="rango_inicio"
                  label="Rango inicio"
                  stack-label
                  mask="#######"
                  :dense="dense"
                  :rules="[ val => val && val.length > 0 || 'Por favor digíte el rango inicial',
                            val => val.length <= 7 || 'Solo se permiten 7 caracteres']"
                />
              </div>
              <div class="col-xs-12 col-sm-4 col-md-3">
                <q-input
                  outlined
                  v-model="rango_final"
                  label="Rango final"
                  stack-label
                  mask="#######"
                  :dense="dense"
                  :rules="[ val => val && val.length > 0 || 'Por favor digíte el rango inicial',
                            val => val.length <= 7 || 'Solo se permiten 7 caracteres']"
                />
              </div>
            </div>

            <div class="row">
              <q-btn :label="configura_modulo.btn_accion" type="submit" color="primary"/>
              <q-btn label="Limpiar Datos" type="reset" color="primary" flat class="q-ml-sm"/>
              <q-toggle
                v-if="update===true"
                v-model="desactiva"
                checked-icon="check"
                color="green"
                label="Activa"
                unchecked-icon="clear"
              />
              <q-space />
              <q-btn round color="red-5" icon="close" v-close-popup/>
            </div>
          </q-form>

        </div>

    </q-card>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { mapActions } from 'vuex'
export default {
  props: {
    datos_editar: {
      type: Array,
      required: false
    }
  },
  data () {
    return {
      tipo: 'trigo',
      deshabilitar: false,
      update: false,
      desactiva: true,
      id_tarifa: '',
      precio: '',
      iva: '',
      resolucion: '',
      rango_inicio: '',
      rango_final: '',
      date: '',
      date2: '',
      prefijo: '',
      peso: '',
      accept: false,
      dense: true,
      configura_modulo: {
        nombre: 'TARIFAS',
        resumen: 'Registro de tarifas',
        confirmacion: '¿Está seguro de registrar la tarifa?',
        confirmacion_exito: 'Tarifa registrada exitosamente',
        error: 'Error al registrar la tarifa',
        loader: 'Guardando información<br/>Por favor espere...',
        btn_accion: 'Registrar tarifa',
        existe_vehiculo: 'La placa ya existe en el sistema'
      }
    }
  },
  computed: {
    url_api () {
      return this.$store.state.store.url_api
    }
  },
  methods: {
    onSubmit () {
      this.confirm()
    },

    confirm () {
      this.$q.dialog({
        title: 'Confirmar registro',
        message: this.configura_modulo.confirmacion,
        cancel: true,
        persistent: true
      }).onOk(() => {
        if (this.datos_editar) {
          this.modificarTarifa()
        } else {
          this.registrarTarifa()
        }
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },

    registrarTarifa () {
      this.showLoading()
      var self = this
      axios.post(this.url_api + '/api/tarifa/registrar/', {
        precio: this.precio,
        iva: this.iva,
        resolucion: this.resolucion,
        fecha_inicio: this.date,
        fecha_final: this.date2,
        prefijo: this.prefijo,
        rango_inicio: this.rango_inicio,
        rango_final: this.rango_final,
        token: localStorage.getItem('token'),
        tipo: this.tipo
      }).then(function (res) {
        if (res.data.mensaje === 'alerta') {
          self.$q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            message: 'Solo debe haber una tarifa activa, debe inactivar la actual para crear una nueva'
          })
          self.hideLoading()
          return false
        }
        if (res.data.registro === true) {
          self.hideLoading()
          // self.$store.state.store.vehiculo_registrado++
          self.movimientoRegistro()
          self.$q.notify({
            color: 'green',
            textColor: 'white',
            icon: 'cloud_done',
            position: 'center',
            timeout: 2500,
            message: self.configura_modulo.confirmacion_exito
          })
          self.$refs.form_tarifa.reset()
        } else {
          self.hideLoading()
          self.$q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            message: self.configura_modulo.error
          })
        }
      }).catch(function (err) {
        self.hideLoading()
        self.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'Error : ' + err
        })
      })
    },

    modificarTarifa () {
      this.showLoading()
      var self = this
      axios.put(this.url_api + '/api/tarifa/editar/', {
        id_tarifa: this.id_tarifa,
        precio: this.precio,
        iva: this.iva,
        resolucion: this.resolucion,
        fecha_inicio: this.date,
        fecha_final: this.date2,
        prefijo: this.prefijo,
        rango_inicio: this.rango_inicio,
        rango_final: this.rango_final,
        token: localStorage.getItem('token'),
        desactiva: this.desactiva,
        tipo: this.tipo
      }).then(function (res) {
        if (res.data.modifico === true) {
          self.hideLoading()
          // self.$store.state.store.vehiculo_registrado++
          self.movimientoRegistro()
          self.$q.notify({
            color: 'green',
            textColor: 'white',
            icon: 'cloud_done',
            position: 'center',
            timeout: 1000,
            message: self.configura_modulo.confirmacion_exito
          })
          self.$refs.form_tarifa.reset()
        } else {
          self.hideLoading()
          self.$q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            message: self.configura_modulo.error
          })
        }
      }).catch(function (err) {
        self.hideLoading()
        self.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'Error : ' + err
        })
      })
    },
    onReset () {
      this.id_tarifa = ''
      this.precio = ''
      this.iva = ''
      this.resolucion = ''
      this.date = ''
      this.date2 = ''
      this.prefijo = ''
      this.rango_inicio = ''
      this.rango_final = ''
      this.update = false
      this.tipo = 'trigo'
      this.deshabilitar = false
    },
    showLoading () {
      this.$q.loading.show({
        message: this.configura_modulo.loader
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    obtenerTitulosModificar () {
      // CAMBIO LOS TITULOS POR QUE SIGNIFICA QUE SE VA A MODIFICAR EL REGISTRO
      this.configura_modulo.resumen = 'Modificación de Tarifas'
      this.configura_modulo.confirmacion = '¿Está seguro de modificar la tarifa?'
      this.configura_modulo.confirmacion_exito = 'Tarifa modificada exitosamente'
      this.configura_modulo.error = 'Error al modificar la tarifa'
      this.configura_modulo.loader = 'Actualizando información<br/>Por favor espere...'
      this.configura_modulo.btn_accion = 'Modificar Tarifa'
    },
    obtenerDatosEditar () {
      if (this.datos_editar) {
        this.id_tarifa = this.datos_editar[0].id_tarifa
        this.obtenerTitulosModificar()
        this.precio = this.datos_editar[0].precio
        this.iva = this.datos_editar[0].iva_porcentaje
        this.resolucion = this.datos_editar[0].resolucion
        this.prefijo = this.datos_editar[0].prefijo
        this.date = this.datos_editar[0].fecha_inicio
        this.date2 = this.datos_editar[0].fecha_final
        this.rango_inicio = this.datos_editar[0].rango_inicio
        this.rango_final = this.datos_editar[0].rango_final
        this.update = true
        if (this.datos_editar[0].deleted === '0') {
          this.desactiva = true
        } else {
          this.desactiva = false
        }
        this.tipo = this.datos_editar[0].tipo_producto
        this.deshabilitar = true
      }
    },
    validaDescripcion (val = '') {
      if (val.length >= 100) {
        return 'Solo se permiten 100 caracteres'
      } else {
        return true
      }
    },
    validaPeso (val = '') {
      if (val.length >= 11) {
        return 'Solo se permiten 11 caracteres'
      } else {
        return true
      }
    },
    ...mapActions('store', ['movimientoRegistro'])
  },
  mounted () {
    this.obtenerDatosEditar()
  }
}
</script>
