<template>
  <div class="q-pa-md q-gutter-sm">
    <div class="row justify-center">
      <div class="col-xs-12 col-sm-6 col-md-10">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      icon: false,
      bar: false,
      bar2: false,
      modal_reg_car: false
    }
  },
  computed: {
  },
  methods: {
  },
  mounted () {
  },
  watch: {
  }
}
</script>
