<template>
  <div class="q-pa-md q-gutter-sm">
    <div class="row justify-center">
      <div class="col-xs-12 col-sm-6 col-md-10">
        <cargues-listado/>
      </div>
    </div>
    <q-dialog v-model="modal_reg_car" persistent>
      <q-card  style="width: 700px; max-width: 80vw;" >
        <q-card-section>
          <cargues-registro/>
        </q-card-section>
      </q-card>
    </q-dialog>

    <q-page-sticky position="bottom-right" :offset="[18, 18]" v-if="verificaPermiso(10)">
      <q-btn fab icon="add" color="primary" @click="modal_reg_car = true" />
    </q-page-sticky>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  data () {
    return {
      icon: false,
      bar: false,
      bar2: false,
      modal_reg_car: false
    }
  },
  computed: {
    movimientoRegistro () {
      return this.$store.getters['store/movimiento_registro']
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    }
  },
  methods: {
    ...mapActions('store', ['obtenerPermisos']),
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    }
  },
  mounted () {
    this.obtenerPermisos()
  },
  watch: {
    movimientoRegistro () {
      this.modal_reg_car = false
    }
  }
}
</script>
