<template>
  <div class="q-pa-md">
    <div class="row ">
     <div class="col-xs-12 col-sm-12 col-md-12">
      <q-table
        title="Lista de cargues"
        :data="cargues"
        :columns="columns"
        row-key="placa"
        :loading="loading"
        :filter="filter"
        class="my-sticky-header-table"
        bordered
        rows-per-page-label = "Registros por página"
        :pagination.sync="pagination"
      >

        <template v-slot:top-right>
          <q-input  dense debounce="300" v-model="filter" placeholder="Busqueda de cargues">
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </template>

        <template v-slot:body="props">
          <q-tr :props="props">

            <q-td key="placa" :props="props" >
              {{ props.row.placa }}
            </q-td>

            <q-td key="empresa" :props="props">
              {{ props.row.empresa }}
            </q-td>

            <q-td key="peso_origen" :props="props">
              {{ props.row.peso_origen }}
            </q-td>

            <q-td key="observaciones" :props="props">
              {{ props.row.observaciones }}
            </q-td>

            <q-td key="documento" :props="props">
              {{ props.row.documento }}
            </q-td>

            <q-td key="nombre" :props="props">
              {{ props.row.nombre }}
            </q-td>

            <q-td key="acciones" :props="props">

                <q-btn v-show="verificaPermiso(28)" v-if="props.row.estado !=='inactivo'" round color="primary" icon="edit" size="sm" @click="obtenerDatos(props.row)"/>
                <div v-show="verificaPermiso(28)" v-else>Gestionado</div>

            </q-td>

          </q-tr>
        </template>
      </q-table>
     </div>
     </div>
    <q-dialog v-model="modal_reg_car" persistent>
      <q-card  style="width: 700px; max-width: 80vw;">
        <q-card-section>
          <cargues-registro :datos_editar="datos_seleccionado"/>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import axios from 'axios'
export default {
  data () {
    return {
      pagination: {
        rowsPerPage: 15 // current rows per page being displayed
      },
      cargues: [],
      selected: [],
      datos_seleccionado: [],
      modal_reg_car: false,
      loading: false,
      filter: '',
      columns: [
        {
          name: 'placa',
          required: true,
          label: 'Placa',
          align: 'center',
          field: row => row.placa,
          format: val => `${val}`,
          sortable: true,
          style: 'width: 100px'
        },
        { name: 'empresa', align: 'left', label: 'Empresa', field: 'empresa', sortable: true, style: 'width: 150px' },
        { name: 'peso_origen', align: 'center', label: 'Peso Origen (KG)', field: 'peso_origen', sortable: true, style: 'width: 150px' },
        { name: 'observaciones', align: 'left', label: 'Observaciones', field: 'observaciones', sortable: true, style: 'width: 150px' },
        { name: 'documento', align: 'left', label: 'Documento Conductor', field: 'documento', sortable: true, style: 'width: 150px' },
        { name: 'nombre', align: 'left', label: 'Nombre conductor', field: 'nombre', sortable: true, style: 'width: 150px' },
        { name: 'acciones', align: 'center', label: 'Acciones', field: 'acciones', sortable: false, style: 'width: 150px' }
      ]
    }
  },
  computed: {
    actualizaListado () {
      return this.$store.getters['store/movimiento_registro']
    },
    url_api () {
      return this.$store.state.store.url_api
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    }
  },
  methods: {
    listadoCargues () {
      var self = this
      self.loading = true
      axios.get(this.url_api + '/api/cargues/listado/').then((response) => {
        self.cargues = response.data
      }).finally(function () {
        self.loading = false
      })
    },
    obtenerDatos (datos) {
      this.modal_reg_car = true
      this.datos_seleccionado = []
      this.datos_seleccionado.push(datos)
    },
    ...mapActions('store', ['obtenerPermisos']),
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    }
  },
  mounted () {
    this.listadoCargues()
    this.obtenerPermisos()
  },
  watch: {
    actualizaListado () {
      this.listadoCargues()
      this.modal_reg_car = false
    }
  }
}
</script>

<style lang="sass">
.my-sticky-header-table
  /* max height is important */
  .q-table__middle
    max-height: 400px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: #FDF9EA

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
</style>
