<template>
  <div class="q-pa-md">
    <div class="text-h5">
    <q-card class="my-card">
      <q-card-section class="bg-secondary">
        <div class="text-h6 text-primary">{{configura_modulo.nombre}}</div>
        <div class="text-subtitle2 text-primary">{{configura_modulo.resumen}}</div>
      </q-card-section>

      <q-separator />

        <div class="q-pa-md" >

          <q-form
            @submit.prevent="onSubmit"
            @reset="onReset"
            class="q-gutter-md"
            ref="form_cargue"
          >

            <div class="row ">
              <div class="col-xs-12 col-sm-6 col-md-4">
                <q-input
                  outlined
                  v-model="placa"
                  label="Placa del vehículo"
                  mask="XXXXXX"
                  stack-label
                  :dense="dense"
                  :rules="[ val => val && val.length > 0 || 'Por favor digite la placa del vehículo',
                            val => val.length <= 6 || 'Solo se permiten 6 caracteres']"
                />
              </div>
              <div class="col-auto"></div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3">
                <q-select  :rules="[validaEmpresa]"  style="width: 490px"  emit-value map-options option-value="nit" option-label="nombre"  bottom-slots  v-model="empresa" :options="empresas" label="Buscar empresa"  :dense="dense">
                  <template v-slot:append>
                    <q-btn round dense flat icon="add" color="primary" @click.stop="modal_reg_car = true" />
                  </template>
                </q-select>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4">
                <q-input
                  outlined
                  v-model="peso_origen"
                  label="Peso origen KG"
                  stack-label
                  mask="######"
                  :dense="dense"
                  :rules="[validaPeso]"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-md-12 col-sm-12">
                <q-input
                  outlined
                  v-model="observaciones"
                  label="Observaciones"
                  stack-label
                  :dense="dense"
                  :rules="[validaDescripcion]"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-md-4 col-sm-4 q-mr-sm">
                <q-select
                  :dense="dense"
                  outlined
                  label="Documento conductor"
                  stack-label
                  :value="documento_conductor"
                  use-input
                  hide-selected
                  fill-input
                  input-debounce="0"
                  :options="options"
                  @filter="filterFn"
                  @input-value="setModel"
                >
                  <template v-slot:no-option>
                    <q-item>
                      <q-item-section class="text-grey">
                        No se encontraron resultados
                      </q-item-section>
                    </q-item>
                  </template>
                </q-select>
              </div>
              <div class="col-xs-12 col-md-7 col-sm-7">
                <q-input
                  :disable="disable"
                  outlined
                  v-model="nombre_conductor"
                  label="Nombre conductor"
                  stack-label
                  :dense="dense"
                  :rules="[validaNombreConductor]"
                />
              </div>
            </div>

            <div class="row">
              <q-btn :label="configura_modulo.btn_accion" type="submit" color="primary"/>
              <q-btn v-show="id_cargue.length == 0" label="Limpiar Datos" type="reset" color="primary" flat class="q-ml-sm"/>
              <q-space />
              <q-btn round color="red-5" icon="close" v-close-popup/>
            </div>
          </q-form>

        </div>

    </q-card>
    <q-dialog v-model="modal_reg_car" persistent>
      <q-card  style="width: 700px; max-width: 80vw;">
        <q-card-section>
          <empresas-registro/>
        </q-card-section>
      </q-card>
    </q-dialog>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { mapActions } from 'vuex'
// const stringOptions = ['1095923463', '565656', '11111', '222222', '333333']
export default {
  props: {
    datos_editar: {
      type: Array,
      required: false
    }
  },
  data () {
    return {
      disable: false,
      conductores: [],
      model: null,
      options: [],
      documento_conductor: '',
      nombre_conductor: '',
      id_cargue: '',
      empresa: '',
      modal_reg_car: false,
      empresas: [],
      id_veh: '',
      placa: '',
      descripcion: '',
      observaciones: '',
      peso_origen: '',
      accept: false,
      dense: true,
      configura_modulo: {
        nombre: 'CARGUE TRIGO',
        resumen: 'Registro de cargue',
        confirmacion: '¿Está seguro de registrar el cargue?',
        confirmacion_exito: 'Cargue registrado exitosamente',
        error: 'Error al registrar el cargue',
        loader: 'Guardando información<br/>Por favor espere...',
        btn_accion: 'Registrar Cargue',
        existe_vehiculo: 'La placa ya existe en el sistema'
      }
    }
  },
  computed: {
    url_api () {
      return this.$store.state.store.url_api
    },
    actualizaInfo () {
      return this.$store.state.store.movimiento_registro
    }
  },
  methods: {
    onSubmit () {
      this.confirm()
    },

    confirm () {
      this.$q.dialog({
        title: 'Confirmar registro',
        message: this.configura_modulo.confirmacion,
        cancel: true,
        persistent: true
      }).onOk(() => {
        if (this.datos_editar) {
          this.modificarCargue()
        } else {
          this.registrarCargue()
        }
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },
    cargaEmpresas () {
      axios.get(this.url_api + '/api/empresas/listado').then((response) => {
        this.empresas = response.data
      })
    },
    listadoConductores () {
      axios.get(this.url_api + '/api/conductores/listado/').then((response) => {
        for (var i = 0; i < response.data.length; i++) {
          this.conductores.push(response.data[i].documento)
        }
      })
    },
    obtenerInfoConductor () {
      axios.get(this.url_api + '/api/conductores/obtener-info/', {
        params: {
          documento: this.documento_conductor
        }
      }).then((response) => {
        if (response.data.documento) {
          this.disable = true
          this.nombre_conductor = response.data.nombre
        } else {
          this.disable = false
          this.nombre_conductor = ''
        }
      })
    },
    registrarCargue () {
      this.showLoading()
      var self = this
      axios.post(this.url_api + '/api/cargues/registrar/', {
        placa: this.placa,
        nit_empresa: this.empresa,
        peso_origen: this.peso_origen,
        token: localStorage.getItem('token'),
        observaciones: this.observaciones,
        coductor: this.documento_conductor,
        nombre_conductor: this.nombre_conductor
      }).then(function (res) {
        if (res.data.guardo === true) {
          self.hideLoading()
          // self.$store.state.store.vehiculo_registrado++
          self.movimientoRegistro()
          self.$q.notify({
            color: 'green',
            textColor: 'white',
            icon: 'cloud_done',
            position: 'center',
            timeout: 2500,
            message: self.configura_modulo.confirmacion_exito
          })
          self.$refs.form_cargue.reset()
        } else {
          self.hideLoading()
          self.$q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            message: self.configura_modulo.error
          })
        }
      }).catch(function (err) {
        self.hideLoading()
        self.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'Error : ' + err
        })
      })
    },

    modificarCargue () {
      this.showLoading()
      var self = this
      axios.put(this.url_api + '/api/cargues/editar/' + this.id_cargue, {
        id_cargue: this.id_cargue,
        placa: this.placa,
        nit_empresa: this.empresa,
        peso_origen: this.peso_origen,
        token: localStorage.getItem('token'),
        observaciones: this.observaciones,
        coductor: this.documento_conductor,
        nombre_conductor: this.nombre_conductor
      }).then(function (res) {
        if (res.data.modifico === true) {
          self.hideLoading()
          // self.$store.state.store.vehiculo_registrado++
          self.movimientoRegistro()
          self.$q.notify({
            color: 'green',
            textColor: 'white',
            icon: 'cloud_done',
            position: 'center',
            timeout: 1000,
            message: self.configura_modulo.confirmacion_exito
          })
          self.$refs.form_cargue.reset()
        } else {
          self.hideLoading()
          self.$q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            message: self.configura_modulo.error
          })
        }
      }).catch(function (err) {
        self.hideLoading()
        self.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'Error : ' + err
        })
      })
    },
    onReset () {
      this.placa = ''
      this.empresa = ''
      this.peso_origen = ''
    },
    showLoading () {
      this.$q.loading.show({
        message: this.configura_modulo.loader
      })
    },
    validaEmpresa (val = '') {
      if (val.length === 0) {
        return 'Falta seleccionar la empresa'
      } else {
        return true
      }
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    obtenerTitulosModificar () {
      // CAMBIO LOS TITULOS POR QUE SIGNIFICA QUE SE VA A MODIFICAR EL REGISTRO
      this.configura_modulo.resumen = 'Modificación de Cargue'
      this.configura_modulo.confirmacion = '¿Está seguro de modificar el cargue?'
      this.configura_modulo.confirmacion_exito = 'Cargue modificado exitosamente'
      this.configura_modulo.error = 'Error al modificar el cargue'
      this.configura_modulo.loader = 'Actualizando información<br/>Por favor espere...'
      this.configura_modulo.btn_accion = 'Modificar Cargue'
    },
    obtenerDatosEditar () {
      if (this.datos_editar) {
        this.showLoading()
        this.obtenerTitulosModificar()
        this.empresa = this.datos_editar[0].nit_empresa
        this.placa = this.datos_editar[0].placa
        this.peso_origen = this.datos_editar[0].peso_origen
        this.id_cargue = this.datos_editar[0].id_cargue
        this.observaciones = this.datos_editar[0].observaciones
        this.documento_conductor = this.datos_editar[0].documento
        this.nombre_conductor = this.datos_editar[0].nombre
        this.hideLoading()
      }
    },
    validaDescripcion (val = '') {
      if (val) {
        if (val.length >= 100) {
          return 'Solo se permiten 100 caracteres'
        } else {
          return true
        }
      } else {
        return 'Falta digitar las observaciones, ejemplo : Motonave'
      }
    },
    validaDocumento (val = '') {
      if (val) {
        if (val.length > 20) {
          return 'Solo se permiten 20 caracteres'
        } else {
          return true
        }
      }
    },
    validaNombreConductor (val = '') {
      if (val) {
        if (val.length > 100) {
          return 'Solo se permiten 100 caracteres'
        } else {
          return true
        }
      }
    },
    validaPeso (val = '') {
      if (val.length >= 11) {
        return 'Solo se permiten 11 caracteres'
      } else if (val.length <= 0) {
        return 'Falta digitar el peso origen'
      } else {
        return true
      }
    },
    filterFn (val, update, abort) {
      update(() => {
        const needle = val.toLocaleLowerCase()
        this.options = this.conductores.filter(v => v.toLocaleLowerCase().indexOf(needle) > -1)
      })
    },
    setModel (val) {
      this.documento_conductor = val
      this.obtenerInfoConductor()
    },
    ...mapActions('store', ['movimientoRegistro'])
  },
  watch: {
    actualizaInfo () {
      this.modal_reg_car = false
      this.cargaEmpresas()
    }
  },
  mounted () {
    this.obtenerDatosEditar()
    this.cargaEmpresas()
    this.listadoConductores()
  }
}
</script>
