<template>
  <div class="q-pa-md">
    <div class="text-h5">
    <q-card class="my-card">
      <q-card-section class="bg-secondary">
        <div class="text-h6 text-primary">{{configura_modulo.nombre}}</div>
        <div class="text-subtitle2 text-primary">{{configura_modulo.resumen}}</div>
      </q-card-section>

      <q-separator />

        <div class="q-pa-md" >

          <q-form
            @submit.prevent="onSubmit"
            @reset="onReset"
            class="q-gutter-md"
            ref="form_empresa"
          >

            <div class="row ">
              <div class="col-xs-12 col-sm-6 col-md-4">
                <q-input
                  outlined
                  v-model="nit"
                  label="Nit"
                  stack-label
                  :dense="dense"
                  :rules="[ val => val && val.length > 0 || 'Por favor digite el nit de la empresa',
                            val => val.length <= 20 || 'Solo se permiten 20 caracteres']"
                />
              </div>
              <div class="col-auto"></div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-7">
                <q-input
                  outlined
                  v-model="nombre"
                  label="Nombre"
                  stack-label
                  :dense="dense"
                  :rules="[ val => val && val.length > 0 || 'Por favor digite el nombre de la empresa',
                            val => val.length <= 100 || 'Solo se permiten 100 caracteres']"
                />
              </div>
            </div>

            <div class="row">
              <q-btn :label="configura_modulo.btn_accion" type="submit" color="primary"/>
              <q-space />
              <q-btn round color="red-5" icon="close" v-close-popup/>
            </div>
          </q-form>

        </div>

    </q-card>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { mapActions } from 'vuex'
export default {
  props: {
    datos_editar: {
      type: Array,
      required: false
    }
  },
  data () {
    return {
      id_veh: '',
      nit: '',
      nombre: '',
      peso: '',
      accept: false,
      dense: true,
      configura_modulo: {
        nombre: 'EMPRESA',
        resumen: 'Registro de empresa',
        confirmacion: '¿Está seguro de registrar la empresa?',
        confirmacion_exito: 'Empresa registrada exitosamente',
        error: 'Error al registrar la empresa',
        loader: 'Guardando información<br/>Por favor espere...',
        btn_accion: 'Registrar Empresa',
        existe_vehiculo: 'La empresa ya existe en el sistema'
      }
    }
  },
  computed: {
    url_api () {
      return this.$store.state.store.url_api
    }
  },
  methods: {
    onSubmit () {
      this.confirm()
    },

    confirm () {
      this.$q.dialog({
        title: 'Confirmar registro',
        message: this.configura_modulo.confirmacion,
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.registrarEmpresa()
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },

    registrarEmpresa () {
      this.showLoading()
      var self = this
      axios.post(this.url_api + '/api/empresas/registrar', {
        nit: this.nit,
        nombre: this.nombre,
        token: localStorage.getItem('token')
      }).then(function (res) {
        if (res.data.mensaje === 'existe_empresa') {
          self.$q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            message: self.configura_modulo.existe_vehiculo
          })
          self.hideLoading()
        } else {
          if (res.data.guardo === true) {
            self.hideLoading()
            // self.$store.state.store.vehiculo_registrado++
            self.movimientoRegistro()
            self.$q.notify({
              color: 'green',
              textColor: 'white',
              icon: 'cloud_done',
              position: 'center',
              timeout: 2500,
              message: self.configura_modulo.confirmacion_exito
            })
            self.$refs.form_empresa.reset()
          } else {
            self.hideLoading()
            self.$q.notify({
              color: 'red-5',
              textColor: 'white',
              icon: 'warning',
              message: self.configura_modulo.error
            })
          }
        }
      }).catch(function (err) {
        self.hideLoading()
        self.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'Error : ' + err
        })
      })
    },
    onReset () {
      this.nit = ''
      this.nombre = ''
    },
    showLoading () {
      this.$q.loading.show({
        message: this.configura_modulo.loader
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    ...mapActions('store', ['movimientoRegistro'])
  },
  mounted () {
  }
}
</script>
