<template>
  <div class="q-pa-md">
    <q-table
      title="Lista de usuarios"
      :data="usuarios"
      :columns="columns"
      row-key="name"
      :loading="loading"
      :filter="filter"
      class="my-sticky-header-table"
      bordered
      rows-per-page-label = "Registros por página"
    >

      <template v-slot:top-right>
        <q-input  dense debounce="300" v-model="filter" placeholder="Busqueda de usuarios">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </template>

      <template v-slot:body="props">
        <q-tr :props="props">

          <q-td key="name" :props="props" >
            {{ props.row.name }}
          </q-td>

          <q-td key="email" :props="props">
            {{ props.row.email }}
          </q-td>

          <q-td key="nom_rol" :props="props">
            {{ props.row.nom_rol }}
          </q-td>

          <q-td key="acciones" :props="props">

              <q-btn v-if="verificaPermiso(20)" round color="primary" icon="edit" size="sm" @click="obtenerDatos(props.row)"/>

          </q-td>

        </q-tr>
      </template>

    </q-table>

    <q-dialog v-model="modal_reg_usu" persistent>
      <q-card  style="width: 700px; max-width: 80vw;">
        <q-card-section>
          <usuarios-registro :datos_editar="datos_seleccionado"/>
        </q-card-section>
      </q-card>
    </q-dialog>

  </div>
</template>

<script>
import axios from 'axios'
import { mapActions } from 'vuex'
export default {
  data () {
    return {
      usuarios: [],
      selected: [],
      datos_seleccionado: [],
      modal_reg_usu: false,
      loading: false,
      filter: '',
      columns: [
        {
          name: 'name',
          required: true,
          label: 'Nombre',
          align: 'center',
          field: row => row.name,
          format: val => `${val}`,
          sortable: true,
          style: 'width: 100px'
        },
        { name: 'email', align: 'left', label: 'Correo electrónico', field: 'email', sortable: true, style: 'width: 150px' },
        { name: 'nom_rol', align: 'left', label: 'Rol', field: 'nom_rol', sortable: true, style: 'width: 60px' },
        { name: 'acciones', align: 'center', label: 'Acciones', field: 'acciones', sortable: false, style: 'width: 150px' }
      ]
    }
  },
  computed: {
    actualizaListado () {
      return this.$store.getters['store/movimiento_registro']
    },
    accesos () {
      return this.$store.getters['store/obtener_permisos']
    },
    url_api () {
      return this.$store.state.store.url_api
    }
  },
  methods: {
    listadoUsuarios () {
      var self = this
      self.loading = true
      axios.get(this.url_api + '/api/usuarios/listado-usuarios').then((response) => {
        self.usuarios = response.data
      }).finally(function () {
        self.loading = false
      })
    },
    obtenerDatos (datos) {
      this.modal_reg_usu = true
      this.datos_seleccionado = []
      this.datos_seleccionado.push(datos)
    },
    ...mapActions('store', ['obtenerPermisos']),
    verificaPermiso (permiso) {
      for (var i = 0; i < this.accesos.length; i++) {
        if (this.accesos[i].id === permiso) {
          return true
        }
      }
    }
  },
  mounted () {
    this.listadoUsuarios()
    this.obtenerPermisos()
  },
  watch: {
    actualizaListado () {
      this.listadoUsuarios()
      this.modal_reg_usu = false
    }
  }
}
</script>

<style lang="sass">
.my-sticky-header-table
  /* max height is important */
  .q-table__middle
    max-height: 400px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th
    /* bg color is important for th; just specify one */
    background-color: #FDF9EA

  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
</style>
