<template>
  <div class="q-pa-md">
    <div class="text-h5">
    <q-card class="my-card">
      <q-card-section class="bg-secondary">
        <div class="text-h6 text-primary">{{configura_modulo.nombre}}</div>
        <div class="text-subtitle2 text-primary">{{configura_modulo.resumen}}</div>
      </q-card-section>

      <q-separator />

        <div class="q-pa-md" >

          <q-form
            @submit.prevent="onSubmit"
            @reset="onReset"
            class="q-gutter-md"
            ref="form_usuario"
          >

            <div class="row ">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <q-input
                  outlined
                  v-model="nombre"
                  label="Nombre y Apellidos"
                  stack-label
                  :dense="dense"
                  :rules="[ val => val && val.length > 0 || 'Por favor digite el nombre del usuario',
                            val => val.length <= 80 || 'Solo se permiten 10 caracteres']"
                />
              </div>
              <div class="col-auto"></div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <q-input
                  outlined
                  v-model="email"
                  label="Correo electrónico"
                  stack-label
                  type="email"
                  :dense="dense"
                  :rules="[validaCorreo]"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-5 col-md-5">
                <q-input
                  outlined
                  v-model="clave1"
                  label="Contraseña"
                  stack-label
                  :dense="dense"
                  type="password"
                  :rules="[validaClave]"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-5 col-md-5">
                <q-input
                  outlined
                  v-model="clave2"
                  label="Escribir nuevamente la contraseña"
                  stack-label
                  :dense="dense"
                  type="password"
                  :rules="[validaClave]"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3">
                <q-select  :rules="[validaRol]"  style="width: 300px"  emit-value map-options option-value="id_" option-label="nombre"  v-model="rol" :options="roles" label="Asignar Rol"  :dense="dense">
                </q-select>
              </div>
            </div>

            <div class="row">
              <q-btn :label="configura_modulo.btn_accion" type="submit" color="primary"/>
              <q-toggle
                v-model="desactivar"
                label="Desactivar usuario"
                color="red"
                v-if="id_usuario"
              />
              <q-space />
              <q-btn round color="red-5" icon="close" v-close-popup/>
            </div>
          </q-form>

        </div>

    </q-card>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { mapActions } from 'vuex'
export default {
  props: {
    datos_editar: {
      type: Array,
      required: false
    }
  },
  data () {
    return {
      desactivar: false,
      rol: '',
      roles: [],
      id_usuario: '',
      nombre: '',
      email: '',
      clave1: '',
      clave2: '',
      accept: false,
      dense: true,
      configura_modulo: {
        nombre: 'USUARIOS',
        resumen: 'Registro de usuarios',
        confirmacion: '¿Está seguro de registrar el usuario?',
        confirmacion_exito: 'Usuario registrado exitosamente',
        error: 'Error al registrar el usuario',
        loader: 'Guardando información<br/>Por favor espere...',
        btn_accion: 'Registrar Usuario',
        existe_vehiculo: 'El usuario ya existe en el sistema'
      }
    }
  },
  computed: {
    url_api () {
      return this.$store.state.store.url_api
    }
  },
  methods: {
    onSubmit () {
      this.confirm()
    },

    confirm () {
      this.$q.dialog({
        title: 'Confirmar registro',
        message: this.configura_modulo.confirmacion,
        cancel: true,
        persistent: true
      }).onOk(() => {
        if (this.datos_editar) {
          this.modificarUsuarios()
        } else {
          this.registrarUsuario()
        }
      }).onOk(() => {
        // console.log('>>>> second OK catcher')
      }).onCancel(() => {
        // console.log('>>>> Cancel')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    },

    registrarUsuario () {
      if (this.clave1 !== this.clave2) {
        this.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'Las contraseñas no coindicen'
        })
        return false
      }
      this.showLoading()
      var self = this
      axios.post(this.url_api + '/api/usuarios/registro', {
        name: this.nombre,
        email: this.email,
        password: this.clave1,
        rol: this.rol
      }).then(function (res) {
        if (res.data.mensaje === 'existe_usuario') {
          self.$q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            message: self.configura_modulo.existe_vehiculo
          })
          self.hideLoading()
        } else {
          if (res.data.guardo === true) {
            self.hideLoading()
            // self.$store.state.store.vehiculo_registrado++
            self.movimientoRegistro()
            self.$q.notify({
              color: 'green',
              textColor: 'white',
              icon: 'cloud_done',
              position: 'center',
              timeout: 2500,
              message: self.configura_modulo.confirmacion_exito
            })
            self.$refs.form_usuario.reset()
          } else {
            self.hideLoading()
            self.$q.notify({
              color: 'red-5',
              textColor: 'white',
              icon: 'warning',
              message: self.configura_modulo.error
            })
          }
        }
      }).catch(function (err) {
        self.hideLoading()
        self.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'Error : ' + err
        })
      })
    },

    modificarUsuarios () {
      this.showLoading()
      var self = this
      axios.put(this.url_api + '/api/usuarios/actualiza-usuarios/' + this.id_usuario, {
        id: this.id_usuario,
        email: this.email,
        name: this.nombre,
        password: this.clave1,
        desactivar: this.desactivar,
        rol: this.rol
      }).then(function (res) {
        if (res.data.actualizo === true) {
          self.hideLoading()
          // self.$store.state.store.vehiculo_registrado++
          self.movimientoRegistro()
          self.$q.notify({
            color: 'green',
            textColor: 'white',
            icon: 'cloud_done',
            position: 'center',
            timeout: 1000,
            message: self.configura_modulo.confirmacion_exito
          })
          self.$refs.form_usuario.reset()
        } else {
          self.hideLoading()
          self.$q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            message: self.configura_modulo.error
          })
        }
      }).catch(function (err) {
        self.hideLoading()
        self.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'Error : ' + err
        })
      })
    },
    onReset () {
      this.nombre = ''
      this.email = ''
      this.clave1 = ''
      this.clave2 = ''
      this.rol = ''
    },
    showLoading () {
      this.$q.loading.show({
        message: this.configura_modulo.loader
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    cargaRoles () {
      axios.get(this.url_api + '/api/rol/listado/Rol').then((response) => {
        this.roles = response.data
      })
    },
    obtenerTitulosModificar () {
      // CAMBIO LOS TITULOS POR QUE SIGNIFICA QUE SE VA A MODIFICAR EL REGISTRO
      this.configura_modulo.resumen = 'Modificación de Usuarios'
      this.configura_modulo.confirmacion = '¿Está seguro de modificar el usuario?'
      this.configura_modulo.confirmacion_exito = 'Usuario modificado exitosamente'
      this.configura_modulo.error = 'Error al modificar el usuario'
      this.configura_modulo.loader = 'Actualizando información<br/>Por favor espere...'
      this.configura_modulo.btn_accion = 'Modificar Usuario'
    },
    obtenerDatosEditar () {
      if (this.datos_editar) {
        this.obtenerTitulosModificar()
        this.id_usuario = this.datos_editar[0].id_usu
        this.nombre = this.datos_editar[0].name
        this.email = this.datos_editar[0].email
        this.rol = this.datos_editar[0].role_id
      }
    },
    validaCorreo (val = '') {
      if (val.length <= 0) {
        return 'Por favor digitar el correo electrónico'
      } else {
        return true
      }
    },
    validaClave (val = '') {
      if (val.length <= 0) {
        return 'Por favor digite la contraseña'
      } else {
        return true
      }
    },
    validaRol (val = '') {
      if (val.length === 0) {
        return 'Falta seleccionar el Rol'
      } else {
        return true
      }
    },
    ...mapActions('store', ['movimientoRegistro'])
  },
  mounted () {
    this.obtenerDatosEditar()
    this.cargaRoles()
  }
}
</script>
