<template>
  <div class="q-pa-md">
    <div class="row justify-center">
    <q-card class="my-card">
      <q-img src="../../statics/logo_sesion.png">
      </q-img>
      <q-card-section>
        <div class="text-h6">Iniciar sesión</div>
        <div class="text-subtitle3">Introduzca el usuario y contraseña para acceder al sistema</div>
      </q-card-section>

      <q-card-section>
          <q-form
            @submit.prevent="submitLogin"
            @reset="onReset"
            class="q-gutter-md"
            ref="form_vehiculo"
          >
            <div class="row justify-left">
              <div class="col-xs-12 col-md-9 col-sm-9">
                    <q-input
                      outlined
                      v-model="email"
                      label="Email / Correo"
                      stack-label
                      type="email"
                      :dense="dense"
                      :rules="[validaEmail]"
                    />
              </div>
            </div>
            <div class="row justify-left">
              <div class="col-xs-12 col-md-9 col-sm-9">
                    <q-input
                      outlined
                      v-model="password"
                      label="Contraseña"
                      stack-label
                      type="password"
                      :dense="dense"
                      :rules="[validaContrasena]"
                    />
              </div>
            </div>
                      <q-btn   color="primary" type="submit">Ingresar al sistema</q-btn>
          </q-form>
      </q-card-section>
        <q-card-actions>
        </q-card-actions>
    </q-card>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { mapActions } from 'vuex'
export default {
  props: {
    datos_editar: {
      type: Array,
      required: false
    }
  },
  data () {
    return {
      email: '',
      password: '',
      loginError: false,
      accept: false,
      dense: true,
      configura_modulo: {
        nombre: 'VEHICULOS',
        resumen: 'Registro de vehículos',
        confirmacion: '¿Está seguro de registrar el vehículo?',
        confirmacion_exito: 'Vehículo registrado exitosamente',
        error_credenciales: 'Credenciales invalidas, por favor intente de nuevo',
        loader: 'Iniciando sesión<br/>Por favor espere...',
        btn_accion: 'Registrar Vehículo',
        existe_vehiculo: 'La placa ya existe en el sistema'
      }
    }
  },
  computed: {
    url_api () {
      return this.$store.state.store.url_api
    }
  },
  methods: {
    submitLogin () {
      this.showLoading()
      this.loginError = false
      axios.post(this.url_api + '/api/usuarios/login/', {
        email: this.email,
        password: this.password
      }).then(response => {
        // login user, store the token and redirect to dashboard
        // store.commit('loginUser')
        if (response.data.status === 'ok') {
          this.loginUser()
          this.habilitaMenu()
          this.hideLoading()
          localStorage.setItem('token', response.data.token)
          this.$router.push({ name: '/inicio/bienvenida' })
        } else if (response.data.status === 'invalid_credentials') {
          this.$q.notify({
            color: 'red',
            textColor: 'white',
            icon: 'error',
            position: 'center',
            timeout: 3000,
            message: this.configura_modulo.error_credenciales
          })
          this.hideLoading()
        }

        console.log(response)
      }).catch(error => {
        this.loginError = true
        console.log(error)
      })
    },
    onSubmit () {
      this.confirm()
    },
    onReset () {
      this.placa = ''
      this.descripcion = ''
      this.peso = ''
    },
    showLoading () {
      this.$q.loading.show({
        message: this.configura_modulo.loader
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    validaEmail (val = '') {
      if (val.length === 0) {
        return 'Por favor ingrese el email'
      } else {
        return true
      }
    },
    validaContrasena (val = '') {
      if (val.length === 0) {
        return 'Por favor ingrese la contraseña'
      } else {
        return true
      }
    },
    ...mapActions('store', ['loginUser', 'habilitaMenu'])
  },
  mounted () {
  }
}
</script>
