<template>
  <div class="q-pa-md">
    <div class="row justify-center">
    <q-card class="my-card">
      <q-img src="../../statics/logo_sesion.png"></q-img>
      <q-card-section>
        <div class="text-h6">ENCUESTA</div>
        <div class="text-subtitle3">En esta encuesta se pretende llevar el control de los síntomas que presenta cada empleado.</div>
      </q-card-section>

      <q-card-section>
        <div class="row justify-center">
          <div class="col-xs-12 col-md-6 col-sm-6">
                <q-input
                  ref="ref_documento"
                  class="text-h6"
                  :disabled="deshabilitado"
                  outlined
                  v-model="documento"
                  label="Digite el documento de identidad"
                  stack-label
                  :dense="false"
                  :rules="[validaDocumento]"
                  @change="cargaInfoEmpleado()"
                />
          </div>
        </div>
        <div class="row justify-center">
          <div class="col-xs-12 col-md-6 col-sm-6">
                <q-input
                  ref="ref_temperatura"
                  v-show="existe_empleado"
                  v-model="temperatura"
                  label="Temperatura (grados)"
                  stack-label
                  :dense="false"
                  :rules="[validaTemperatura]"
                >
                <template v-slot:before>
                  <q-icon name="wb_sunny" color="amber-7"/>
                </template>
                </q-input>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-xs-12">
            <q-btn icon="done_all" v-show="existe_empleado"   color="green" label="Sin Novedad" class="q-mr-xs" @click="novedad = false; registrarEncuesta()" />
            <q-btn icon="report_problem"  v-show="existe_empleado"   color="orange" label="Con Novedad" @click="novedad = true" />
          </div>
        </div><br>
      </q-card-section>
      <q-separator/>
      <q-card-section v-show="novedad">
          <q-form
            @submit.prevent="registrarEncuesta"
            @reset="onReset"
            class="q-gutter-md"
            ref="form_encuesta"
          >
            <div class="row">
              <div class="col-xs-12 col-md-12 col-sm-12">
                Por favor seleccione los síntomas que presenta :
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-12 col-sm-12">
                <q-option-group
                  :options="options"
                  label="Notifications"
                  type="checkbox"
                  v-model="group"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-12 col-sm-12">
                Presenta otros síntomas, por favor menciónalos
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-12 col-sm-12">
                <q-input
                    v-model="otros_sintomas"
                    filled
                    type="textarea"
                    style="height:70px"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-12 col-sm-12">
                ¿Estuve en contacto con alguien que tuvo los síntomas anteriores?
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-12 col-sm-12">
                <q-radio v-model="radio" val="s" label="Si" />
                <q-radio v-model="radio" val="n" label="No" />
              </div>
            </div>
            <div class="row" v-show="radio == 's'">
              <div class="col-xs-12 col-md-12 col-sm-12">
                ¿Comparte la misma vivienda?
              </div>
            </div>
            <div class="row" v-show="radio == 's'">
              <div class="col-xs-12 col-md-12 col-sm-12">
                <q-radio v-model="radio2" val="s" label="Si" />
                <q-radio v-model="radio2" val="n" label="No" />
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-12 col-sm-12">
                <q-btn label="Enviar Encuesta" full-widht color="primary" type="submit"/>
              </div>
            </div>
          </q-form>
      </q-card-section>
    </q-card>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  props: {
    datos_editar: {
      type: Array,
      required: false
    }
  },
  data () {
    return {
      deshabilitado: false,
      temperatura: '',
      documento: '',
      existe_empleado: false,
      email: '',
      password: '',
      loginError: false,
      accept: false,
      dense: true,
      info_empleado: [],
      configura_modulo: {
        nombre: 'VEHICULOS',
        resumen: 'Registro de vehículos',
        confirmacion: '¿Está seguro de registrar el vehículo?',
        confirmacion_exito: 'Vehículo registrado exitosamente',
        error_credenciales: 'Credenciales invalidas, por favor intente de nuevo',
        loader: 'Iniciando sesión<br/>Por favor espere...',
        btn_accion: 'Registrar Vehículo',
        existe_vehiculo: 'La placa ya existe en el sistema'
      },
      novedad: false,
      radio: '',
      radio2: '',
      group: [],
      options: [
        { label: 'FIEBRE', value: 'opc_fiebre' },
        { label: 'DOLOR DE GARGANTA', value: 'opc_garganta' },
        { label: 'CONGESTIÓN NASAL', value: 'opc_congestion_nasal' },
        { label: 'TOS', value: 'opc_tos' },
        { label: 'DIFICULTAD PARA RESPIRAR', value: 'opc_dificultad_respirar' },
        { label: 'FATIGA', value: 'opc_fatiga' },
        { label: 'ESCALOFRÍO', value: 'opc_escalofrio' },
        { label: 'DOLOR DE MÚSCULOS', value: 'opc_dolor_musculo' },
        { label: 'NINGUNA DE LAS ANTERIORES', value: 'opc_ninguno' }
      ],
      otros_sintomas: ''
    }
  },
  computed: {
    url_api () {
      return this.$store.state.store.url_api
    }
  },
  methods: {
    submitLogin () {
      this.showLoading()
      this.loginError = false
      axios.post(this.url_api + '/api/usuarios/login/', {
        email: this.email,
        password: this.password
      }).then(response => {
        // login user, store the token and redirect to dashboard
        // store.commit('loginUser')
        if (response.data.status === 'ok') {
          this.loginUser()
          this.habilitaMenu()
          this.hideLoading()
          localStorage.setItem('token', response.data.token)
          this.$router.push({ name: '/inicio/bienvenida' })
        } else if (response.data.status === 'invalid_credentials') {
          this.$q.notify({
            color: 'red',
            textColor: 'white',
            icon: 'error',
            position: 'center',
            timeout: 3000,
            message: this.configura_modulo.error_credenciales
          })
          this.hideLoading()
        }

        console.log(response)
      }).catch(error => {
        this.loginError = true
        console.log(error)
      })
    },
    cargaInfoEmpleado () {
      if (this.documento === 'informe_oculto') {
        this.generarInformeEncuesta()
        return false
      }
      var self = this
      self.showLoading('Validando información ...')
      axios.get(self.url_api + '/api/encuesta/consulta-empleado/', {
        params: {
          documento: self.documento
        } }).then((response) => {
        self.info_empleado = response.data
        if (response.data[0]) {
          self.existe_empleado = true
          self.deshabilitado = true
        } else {
          self.novedad = false
          self.existe_empleado = false
          self.deshabilitado = false
          self.showNotif()
        }
        self.hideLoading()
      }).finally(function () {
        self.hideLoading()
      })
    },
    establecerDatosDefault () {
      this.group = []
      this.radio = 'n'
    },
    generarInformeEncuesta () {
      window.location.href = this.url_api + '/api/encuesta/exportr-datos/'
      this.documento = ''
    },
    registrarEncuesta () {
      if (this.novedad === false) {
        this.establecerDatosDefault()
      }
      if (this.temperatura === '') {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'new_releases',
          position: 'top',
          multiLine: true,
          message: 'Falta digitar la temperatura'
        })
        this.$refs.ref_temperatura.$el.focus()
        return false
      }
      if (this.group.length === 0 && this.novedad === true) {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'new_releases',
          position: 'top',
          multiLine: true,
          message: 'Debe seleccionar una respuesta a los síntomas mencionados'
        })
        return false
      }
      if (this.radio === '' && this.novedad === true) {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'new_releases',
          position: 'top',
          multiLine: true,
          message: 'Debe seleccionar Si / No, si estuvo en contacto con alguien con los síntomas anteriores'
        })
        return false
      }
      if (this.radio2 === '' && this.novedad === true && this.radio === 's') {
        this.$q.notify({
          color: 'red',
          textColor: 'white',
          icon: 'new_releases',
          position: 'top',
          multiLine: true,
          message: 'Debe seleccionar Si / No, si comparte la misma vivienda'
        })
        return false
      }
      this.showLoading('Enviado encuesta, por favor espere ...')
      var self = this
      axios.post(self.url_api + '/api/encuesta/registrar-encuesta/', {
        documento: this.documento,
        respuestas: this.group,
        estuve: this.radio,
        temperatura: this.temperatura,
        otros_sintomas: this.otros_sintomas,
        convive: this.radio2
      }).then(function (res) {
        if (res.data.guardo === true) {
          self.hideLoading()
          self.$q.notify({
            color: 'green',
            textColor: 'white',
            icon: 'near_me',
            position: 'top',
            multiLine: true,
            message: 'La encuesta se ha registrado exitosamente.'
          })
          self.$refs.form_encuesta.reset()
          self.$refs.ref_documento.$el.focus()
        } else {
          self.hideLoading()
          self.$q.notify({
            color: 'red-5',
            textColor: 'white',
            icon: 'warning',
            multiLine: true,
            message: 'Error al registrar la encuesta'
          })
        }
      }).catch(function (err) {
        self.hideLoading()
        self.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'Error : ' + err
        })
      })
    },
    showNotif () {
      this.$q.notify({
        message: 'El documento ' + this.documento + ' no se encuentra registrado en nuestra base de datos',
        icon: 'announcement',
        position: 'top',
        multiLine: true,
        color: 'red'
      })
    },
    onSubmit () {
      this.confirm()
    },
    onReset () {
      this.info_empleado = []
      this.group = []
      this.documento = null
      this.existe_empleado = false
      this.novedad = false
      this.radio = ''
      this.temperatura = ''
      this.deshabilitado = false
      this.otros_sintomas = ''
      this.radio2 = ''
    },
    showLoading (mensaje) {
      this.$q.loading.show({
        message: mensaje
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    },
    validaDocumento (val = null) {
      if (val === '') {
        return 'Por favor ingrese el documento de identidad'
      } else {
        return true
      }
    },
    validaTemperatura (val = '') {
      if (val.length === 0) {
        return 'Por favor su temperatura'
      } else {
        return true
      }
    },
    validaContrasena (val = '') {
      if (val.length === 0) {
        return 'Por favor ingrese la contraseña'
      } else {
        return true
      }
    }
  },
  mounted () {
    this.$refs.ref_documento.$el.focus()
    // this.cargaInfoEmpleado()
  }
}
</script>
