<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar style="background-color:#225A3F">
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          icon="menu"
          aria-label="Menu"
        />

        <q-toolbar-title>
          ICOHARINAS - ENCUESTA DE SÍNTOMAS
        </q-toolbar-title>
        <div></div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      v-if="menu_habilitado"
      bordered
      content-class="bg-grey-2"
    >
     <q-scroll-area style="height: calc(100% - 150px); margin-top: 150px; border-right: 1px solid #ddd" v-if="false">
      <q-list>
        <q-item-label header>SISTEMA DE BÁSCULA ICOHARINAS</q-item-label>
        <router-link to="/tarifas"  tag="div" v-if="verificaPermiso(33)">
        <q-item clickable tag="a">
          <q-item-section avatar>
            <q-icon name="attach_money" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Tarifas / Resoluciones</q-item-label>
            <q-item-label caption>Administrador de tarifas y resoluciones</q-item-label>
          </q-item-section>
        </q-item>
        </router-link>
      </q-list>
     </q-scroll-area>
    </q-drawer>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'MyLayout',

  data () {
    return {
      leftDrawerOpen: false,
      menu_habilitado: false,
      usuario_logeado: '',
      email_logeado: '',
      permiso: false,
      accessos: [],
      encontrado: ''
    }
  },
  computed: {
  },
  methods: {
    showLoading () {
      this.$q.loading.show({
        message: 'Cargando por favor, espere un momento'
      })
    },
    hideLoading () {
      this.$q.loading.hide()
    }
  },
  mounted () {
  },
  beforeMount () {
  },
  watch: {
  }
}
</script>
